
doctype strict
html
	head
		include ../blocks/head

	body
		.wrapper
			include ../blocks/header

			section.main
				.main__left-column.ui-widget-content.js-resizable
					.main__title.main__title_common.main__left-column-title Информация о проекте


					.main__body.main__left-column-body
						.widjet.widjet_with-scroll.widjet_no-background
							
							.widjet__element.widjet__element_notitle.text
								.widjet__element-row
									.review
										.review__item.review__item_up
											i.icon.icon-review.review__icon
											.review__count 225
										.review__item.review__item_down
											i.icon.icon-review.review__icon
											.review__count 12
										.review__view
											i.icon.icon-eye.review__view-eye
											
								.widjet__element-row
									h3.widjet__element-label Наименование
									.widjet__element-value Зап.-сиб. комплекс глубокой переработки УВС в полиолефины

								.widjet__element-row
									.widjet__element-label Заказчик
									a.widjet__element-value(href="#") ООО «ЗапСибНефтехим»

								.widjet__element-row
									.widjet__element-label ГИП
									a.widjet__element-value(href="#") ИВАНОВ И.И.

								.widjet__element-devider

								.widjet__element-row.text
										.text__table
											.text__table-column
												.text__table
													span Договор
													| 0092.2016
												.text__table
													span Дата начала
													| 01.06.2016
											.text__table-column
												.text__table
													span &nbsp;
													span.text__table-border.text__table-border_blue Завершен
												.text__table
													span Дата завершения
													| 21.07.2018

							.widjet__element.widjet__element_notitle.text
								.widjet__element-row
									h3 Параметры промышленного комплекса

								.widjet__element-row
									.widjet__element-label Наименование
									span.widjet__element-value Западно-сибирский комплекс глубокой переработки углеводородного сырья в полиолефины

								.widjet__element-row
									.widjet__element-label Производительность
									span.widjet__element-value 2 млн. тонн в год

								.widjet__element-row
									.widjet__element-label Сейсмичность района (MSK-64)
									span.widjet__element-value 6 баллов

								.widjet__element-row
									.widjet__element-label Тип
									span.widjet__element-value ГХК

								.widjet__element-row
									.widjet__element-label Расположение
									span.widjet__element-value Западная Сибирь

								.widjet__element-row
									.widjet__element-label Климатическая зона
									span.widjet__element-value Субарктическая
				
				.main__right-column
					.main__title.main__title_common.main__right-column-title
						.main__title-help
							.main__title-watch-the-project
								.main__title-watch-the-project-icon.icon.icon-edit
								| Редактировать
							.main__title-help-close.icon.icon-close
					.main__body.main__right-column-body.main__body_nopadding
						.main__right-column-body-container
							.search-results.search-results_padding-top
								.search-results__text.search-results__text_no-margin-bottom.text
									h3 Отчеты об опыте проектирования

									.files-form
										.files-form__item
											form.files-form__elem.js-input-file-form
												.files-form__upload-info.js-input-file-upload-info
													.files-form__name
														span.js-input-file-name Проект 0092.2016 Иванов И.И. — Узел отбора и учета газа


												.files-form__format pdf
												a.files-form__submit.files-form__submit_right(href="#")
													i.files-form__submit-icon.icon.icon-file
													| Перейти к файлу

										.files-form__item
											form.files-form__elem.js-input-file-form
												.files-form__upload-info.js-input-file-upload-info
													.files-form__name
														span.js-input-file-name Для аудита ОЗХ ЗапСиб-2


												.files-form__format pdf
												a.files-form__submit.files-form__submit_right(href="#")
													i.files-form__submit-icon.icon.icon-file
													| Перейти к файлу

								.search-results__text.text
									h3 Титульный список
									.search-results__table-wrapper
										.search-results__table-menu
											.search-results__export
												i.icon.icon-excel.search-results__export-icon
												| Экспорт в Excel
										table.table.table_search-results
											tr
												th.table__first Шифр
												th.h-ta-left Наименование
												th Трудозатраты план, чел/ч
												th.table__last Трудозатраты факт, чел/ч
											tr
												td.table__first 0315
												td.h-ta-left
													a(href="#") Аппартная
												td 690
												td.table__last 690
											tr
												td.table__first 0319
												td.h-ta-left
													a(href="#") Насосная
												td 459
												td.table__last 680
											tr.table_search-results-total
												td.table__first Всего
												td
												td 1 148
												td.table__last 1 1391
										.table__more-results Еще 115 строк
										.pagination.pagination_top
											.pagination__arrow.pagination__arrow_before.icon.icon-arrow
											.pagination__item.pagination__item_active 1
											.pagination__item 2
											.pagination__item 3
											.pagination__item 4
											.pagination__item ...
											.pagination__item 15
											.pagination__arrow.pagination__arrow_after.icon.icon-arrow

									h3 Трудозатраты
									.search-results__total 15 900 чел/час, в том числе:
									.search-results__table-wrapper
										.search-results__table-menu
											.search-results__search
												i.icon.icon-search_doc.search-results__export-icon
												| Искать в документах
											.search-results__export
												i.icon.icon-excel.search-results__export-icon
												| Экспорт в Excel

										table.table.table_search-results
											tr
												th.table__first(rowspan="2") марка
												th.h-dark-grey.h-ta-center(colspan="2") план
												th.h-dark-grey.h-ta-center(colspan="2", style="border-left: 1px solid #e6e7e7;") факт
												th.table__last(rowspan="2") число док-тов
											tr
												th.h-medium-grey.table__first.h-ta-right срок вып.,
													br
													| дней
												th.h-medium-grey трудозатраты,
													br
													| чел/ч
												th.h-medium-grey(style="border-left: 1px solid #e6e7e7;") срок вып.,
													br
													| дней
												th.h-medium-grey.table__last трудозатраты,
													br
													| чел/ч
											tr
												td.table__first
													a(href="#") ар (архитектурные решения)
												td 48
												td 900
												td
												td
												td.table__last 12
											tr
												td.table__first
													a(href="#") тм (монтажно- технологические решения)
												td 54
												td 690
												td
												td
												td.table__last 14
											tr.table_search-results-total
												td.table__first Всего
												td 
												td 1 590
												td 44
												td 820
												td.table__last 26
										.table__more-results Еще 115 строк
										.pagination.pagination_top
											.pagination__arrow.pagination__arrow_before.icon.icon-arrow
											.pagination__item.pagination__item_active 1
											.pagination__item 2
											.pagination__item 3
											.pagination__item 4
											.pagination__item ...
											.pagination__item 15
											.pagination__arrow.pagination__arrow_after.icon.icon-arrow


		include ../blocks/scripts
