
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title Список проектов
            .main__title-sort-result.js-main-sort-result
              .main__title-sort-result-title.js-main-sort-result-title
              .main__title-sort-result-cancel.js-main-sort-result-cancel

          .main__body.main__left-column-body
            .widjet
              .widjet__header
                .widjet__select-all
                  .checkbox
                    input.checkbox__input.js-select-all(type="checkbox", id="select_all", data-selectId="leftColumn")
                    label.checkbox__label(for="select_all") выбрать все

                .widjet__actions
                  .widjet__actions__item.icon.icon-star(data-notice="Избранное")
                  .widjet__actions__item.icon.icon-trash(data-notice="Удалить")
                  .widjet__actions__devider
                  .widjet__actions__item.icon.icon-plus(data-notice="Плюс")
                  .widjet__actions__item.icon.icon-filter.js-open-popup(data-notice="Фильтровать", data-popup="filter")
                  .widjet__actions__item.icon.icon-sort.js-open-popup(data-notice="Сортировка", data-popup="sort")

              .widjet__body
                .widjet__row.widjet__row_active
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row1", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row1") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row.widjet__row_isfavorite
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row2", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row2") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.widjet__row-help-item_active.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row3", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row3") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row4", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row4") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash
                .widjet__row
                  .widjet__checkbox
                    .checkbox
                      input.checkbox__input(type="checkbox", id="row5", data-selectTarget="leftColumn")
                      label.checkbox__label(for="row5") 
                  | Зап.-сиб. комплекс глубокой переработки УВС в полиолfasdf
                  .widjet__row-help
                    .widjet__row-help-item.widjet__row-help-item_star.icon.icon-star
                    .widjet__row-help-item.widjet__row-help-item_trash.icon.icon-trash



        
        .main__right-column
          .main__title.main__right-column-title(data-title="Свойства проекта") Свойства проекта
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-eye
                | Посмотреть проект
              .main__title-help-apply.icon.icon-apply
              .main__title-help-close.icon.icon-close
          .main__body.main__right-column-body
            .main__right-column-body-container
              form.main__form
                .main__body-row
                  .input
                    .input__label Наименование
                      span.input__required *
                    .input__body
                      .input__wrapper
                        input.input__elem(type="text", value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины")
                      .input__clear-icon.icon.icon-clear
                .main__body-row
                  .main__body-column
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Заказчик
                          span.input__required *
                        .input__body
                          .input__wrapper
                            input.input__elem.js-input-autocomplete(type="text", value="ООО «ЗапСибНефтехим» ")
                            .input__clear.js-input-clear
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                    .main__body-row.js-input-add-row
                      .input
                        .input__label ГИП
                        .input__body
                          .input__wrapper
                            input.input__elem(type="text", value="Иванов И.И.")
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Договор
                        .input__body
                          .input__wrapper
                            input.input__elem(type="text", value="092.2016")
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                  .main__body-column
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Дата начала
                        .input__body
                          .input__wrapper
                            input.input__elem.js-datepicker(type="text", value="01.06.2016")
                            .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Дата завершения
                        .input__body
                          .input__wrapper
                            input.input__elem.js-datepicker(type="text", value="01.06.2016")
                            .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                          .input__clear-icon.icon.icon-clear
                    .main__body-row.js-input-add-row
                      .input
                        .input__label Адрес сайта в Sgare Point
                        .input__body
                          .input__wrapper
                            input.input__elem(type="text", value="")
                          .input__clear-icon.icon.icon-clear
                          .input__add-icon.icon.icon-add.js-input-add-field

                .main__body-row
                  .input.input_half
                    span.main__form-button.button.button_white Удалить
                  .input.input_half
                    span.main__form-button.button.button_white Отменить
                    button(type="submit").main__form-button.button Сохранить
              
              .files-form
                .files-form__item
                  .files-form__title Импорт Карточки проекта
                  form.files-form__elem.js-input-file-form
                    .files-form__choose-block.js-input-file-choose
                      .files-form__choose.js-input-file-choose-file Выбрать файл
                        input.files-form__input.js-input-file(type="file", name="upload", id="upload",)

                    .files-form__upload-info.js-input-file-upload-info(style="display:none;")
                      .files-form__name
                        span.js-input-file-name
                        .files-form__delete-upload-file.js-input-file-delete
                      .files-form__subtitle


                    button.files-form__submit.files-form__submit_disabled
                      i.files-form__submit-icon.icon.icon-file
                      | Импортировать 
                
                .files-form__item
                  .files-form__title Импорт Титульного списка
                  form.files-form__elem.js-input-file-form
                    .files-form__choose-block.js-input-file-choose(style="display:none;")
                      .files-form__choose.js-input-file-choose-file Выбрать файл
                        input.files-form__input.js-input-file(type="file", name="upload", id="upload", accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel")

                    .files-form__upload-info.js-input-file-upload-info
                      .files-form__name
                        span.js-input-file-name titul_02sdaf.png
                        .files-form__delete-upload-file.js-input-file-delete
                      .files-form__subtitle Загружено титулов: 15


                    button.files-form__submit
                      i.files-form__submit-icon.icon.icon-file
                      | Импортировать

                .files-form__item
                  .files-form__title Импорт Бюджетного контроля
                  form.files-form__elem.js-input-file-form
                    .files-form__choose-block.js-input-file-choose
                      .files-form__choose.js-input-file-choose-file Выбрать файл
                        input.files-form__input.js-input-file(type="file", name="upload", id="upload", accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel")

                      .files-form.checkbox
                        input.checkbox__input(type="checkbox", id="file_form")
                        label.checkbox__label.checkbox__label_small(for="file_form") Автоматически создавать новые проекты

                    .files-form__upload-info.js-input-file-upload-info(style="display:none;")
                      .files-form__name
                        span.js-input-file-name
                        .files-form__delete-upload-file.js-input-file-delete
                      .files-form__subtitle


                    button.files-form__submit.files-form__submit_disabled
                      i.files-form__submit-icon.icon.icon-file
                      | Импортировать 

                .files-form__result
                  .files-form__title Результаты импорта&nbsp;
                    span Создано объектов: 56, обновлено объектов: 1, ошибок: 1
              
              table.table
                tr
                  th.table__first Класс
                  th Создано объектов
                  th Объектов обновлено
                  th.table__last Ошибок
                tr
                  td.table__first Проект
                  td 1
                  td
                  td.table__last 1
                tr
                  td.table__first Промышленный комплекс
                  td 1
                  td
                  td.table__last
                tr
                  td.table__first Контрагент
                  td 1
                  td 1
                  td.table__last
                tr
                  td.table__first Плановые трудозатраты в разрезе этапов
                  td
                  td
                  td.table__last

              .message
                .message__icon.icon.icon-alert
                .message__title Ошибки:
                .message__description Не найден объект класса «Климатическая зона», соответствующий знаечению «Приполярная»

    include ../blocks/popups
    include ../blocks/scripts