
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper.wrapper_background

      form.login-form
        .login-form__header
          .login-form__logo.login-form__logo_nipigaz
          .login-form__logo.login-form__logo_light
          .login-form__logo.login-form__logo_suz

        .login-form__body
          .login-form__title Вход в систему
          .login-form__input-wrapper
            .input
              .input__label Логин
              .input__wrapper
                input.input__elem.input__elem_error(type="text", value="", name="login")
              .input__error Проверьте правильность логина
          .login-form__input-wrapper
            .input
              .input__label Пароль
              .input__wrapper
                input.input__elem(type="password", value="", name="password")
          button.login-form__submit(type="submit") Войти

    

    include ../blocks/scripts