
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper.wrapper_background
      include ../blocks/header
      .search
        .search__wrapper
          .search__nav
            .search__nav-item
              i.search__nav-icon.search__nav-icon_star-empty.icon.icon-star-empty
              | Избранные объекты
            .search__nav-item
              i.search__nav-icon.search__nav-icon_time.icon.icon-time
              | Последние просмотренные
            .search__nav-item
              i.search__nav-icon.search__nav-icon_requests.icon.icon-requests
              | Мои запросы
              span.search__nav-arrow
              .dropdown.search__nav-dropdown
                .dropdown__row
                  | Марка ЭПО по насосным
                  span.search__nav-dropdown-delete
                .dropdown__row
                  | Марка ЭПО по насосным
                  span.search__nav-dropdown-delete
                .dropdown__row
                  | Насосные в составе установок сжижения газа
                  span.search__nav-dropdown-delete
                .dropdown__row
                  | Насосные в составе установок сжижения газа
                  span.search__nav-dropdown-delete

          form.search__body
            input.search__input(type="text", placeholder="Поиск по строке")
            button.search__button.icon.icon-search(type="submit")
    
      .tabs.js-tabs
        .tabs__header
          .tabs__header-item.tabs__header-item_active.js-tabs-header-item(data-tab="tab1")
            span.tabs__header-item-value Найти
          .tabs__header-item.js-tabs-header-item(data-tab="tab2")
            span.tabs__header-item-value Добавить
        .tabs__body.tabs__body_tab1.js-tabs-body
          .grid
            .grid__row
              .grid__title Объекты проектирования
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic1.png")
                  .grid__cell-title Проект
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic2.png")
                  .grid__cell-title Промышленный комплекс
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic3.png")
                  .grid__cell-title Титул
            .grid__row
              .grid__title Документация
              .grid__cells.grid__cells_odd
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic5.png")
                  .grid__cell-title Комплект документов
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic6.png")
                  .grid__cell-title Документ
            .grid__row
              .grid__title Опыт
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic7.png")
                  .grid__cell-title Выученный урок
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic8.png")
                  .grid__cell-title Реестр ошибок
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic9.png")
                  .grid__cell-title Риск проектирования
            .grid__row
              .grid__title Коммерческая работа
              .grid__cells.grid__cells_odd
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic4.png")
                  .grid__cell-title ТКП
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic10.png")
                  .grid__cell-title Тендеры
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic6.png")
                  .grid__cell-title Предложение Конкурента
                    
        .tabs__body.tabs__body_tab2.js-tabs-body
          .grid
            .grid__row
              .grid__title
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic1.png")
                  .grid__cell-title Проект
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic7.png")
                  .grid__cell-title «Выученный урок»
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic9.png")
                  .grid__cell-title Риск проектирования
            .grid__row
              .grid__title
              .grid__cells.grid__cells_even
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic10.png")
                  .grid__cell-title Тендер
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic4.png")
                  .grid__cell-title ТКП
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic5.png")
                  .grid__cell-title Предложение конкурента
            .grid__row
              .grid__title
              .grid__cells.grid__cells_odd
                .grid__cell
                  .grid__cell-image
                    img.grid__cell-image-item(src="./assets/images/grid_objects/ic8.png")
                  .grid__cell-title Реестр ошибок
                  
      .footer
        .footer__content В системе содержится: <b>проектов - 134, титулов - 7275, документов - 2821803</b>


    include ../blocks/scripts
