
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск тендера
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Риски проектирования
                a.dropdown__row(href="#")
                  | Выученный урок
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-bag
                          .input__beauty-arrow-text Заказчик
                        input.input__elem.js-beauty-arrow-input(type="text", value="Сибру-Нефтехим")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-dotted
                          .input__beauty-arrow-text Статус
                        input.input__elem.js-beauty-arrow-input(type="text", value="Выигран")
                .widjet__element-row
                  .input
                    .input__label Период
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon

              include ../blocks/widjet_prom_complex

        
        .main__right-column
          .main__title.main__right-column-title(data-title="Результаты поиска") Результаты поиска
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Exсel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__table
                  .search-results__table-header Тендеры
                  .search-results__table-body
                    .search-results__table-row
                      i.search-results__table-icon-star.icon.icon-star-empty
                      | Зап.-сиб. комплекс глубокой переработки УВС в полиолефины 
                    .search-results__table-row.search-results__table-row_active
                      i.search-results__table-icon-star.search-results__table-icon-star_active.icon.icon-star-empty
                      | Зап.-сиб. комплекс глубокой переработки УВС в полиолефины

                .search-results__actions
                  .search-results__actions-item
                    i.icon.icon-star-empty.search-results__actions-item-icon
                    | В избранное
                  .search-results__actions-item
                    i.icon.icon-edit.search-results__actions-item-icon
                    | Редактировать
                  .search-results__actions-item
                    i.icon.icon-eye.search-results__actions-item-icon
                    | Перейти к тендеру

                .search-results__text.text
                  h3 Сводка данных по тендеру
                  .text__table
                    span Проект
                    a(href="#") Зап.-сиб. комплекс глубокой переработки УВС в полиолефины
                  .text__table
                    span Дата начала приема заявок
                    | 01.04.2017
                  .text__table
                    span Дата окончания приема заявок
                    | 20.04.2017
                  .text__table
                    span Заказчик
                    a(href="#") Сургут-Нефтехим
                  .text__table
                    span Начальная цена
                    | 180 000 000 Р
                  .text__table
                    span Статус
                    span.text__table-border.text__table-border_blue Выигран
                  .text__table
                    span Статус
                    span.text__table-border.text__table-border_grey Идет

                .search-results__text.text
                  h3 Предложения на тендер
                  table.table.table_search-results
                    tr
                      th.table__first Участник
                      th Сумма, Р
                      th Срок работ
                      th.table__last Трудозатраты
                    tr
                      td.table__first ООО «Ромашка»
                      td 179 000 000
                      td 14 месяцев
                      td.table__last 14 900 ч/часов
                    tr
                      td.table__first ООО «Василек»
                      td 178 000 000
                      td 15 месяцев
                      td.table__last 13 590 ч/часов
                    tr.table_search-results_active
                      td.table__first НИПИгаз
                      td 176 000 000
                      td 12 месяцев
                      td.table__last 14 280 ч/часов

    include ../blocks/scripts