
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск проекта
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Риски проектирования
                a.dropdown__row(href="#")
                  | Выученный урок
                a.dropdown__row(href="#")
                  | Поиск тендера
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит многобукв многобукв многобукв многобукв
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-person
                          .input__beauty-arrow-text ГИП
                        input.input__elem.js-beauty-arrow-input(type="text", value="Иванов")
                        .input__clear.js-input-clear
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-bag
                          .input__beauty-arrow-text Заказчик
                        input.input__elem.js-beauty-arrow-input(type="text", value="Зап")
                .widjet__element-row.widjet__element-row_accordion.widjet__element_closed.js-widjet-accordion
                  .widjet__element-subtitle Дополнительные параметры
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row
                    .input
                      .input__label Название содержит
                      .input__body
                        .input__wrapper
                          input.input__elem(type="text", value="")
                  .widjet__element-row
                    .input
                      .input__label Шифр внешний содержит
                      .input__body
                        .input__wrapper
                          input.input__elem(type="text", value="")
                .widjet__element-row
                  .input
                    .input__label Период выполнения
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
              include ../blocks/widjet_prom_complex



        
        .main__right-column
          .main__title.main__right-column-title Результаты поиска
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Excel
          .main__body.main__right-column-body.main__body_noallpadding
            .main__right-column-body-container
              .search-results
                .search-results__table
                  .search-results__table-header
                    | Тендеры
                    .review.review_search-result
                      .review__item.review__item_up
                        i.icon.icon-review.review__icon
                        .review__count 225
                      .review__item.review__item_down
                        i.icon.icon-review.review__icon
                        .review__count 12
                      .review__view
                        i.icon.icon-eye.review__view-eye
                  .search-results__table-body
                    .search-results__table-row.search-results__table-row_with-eye
                      i.search-results__table-icon-star.icon.icon-star-empty
                      i.search-results__table-icon-eye.icon.icon-eye
                      | Зап.-сиб. комплекс глубокой переработки УВС в полиолефины 
                    .search-results__table-row.search-results__table-row_active
                      i.search-results__table-icon-star.search-results__table-icon-star_active.icon.icon-star-empty
                      | Зап.-сиб. комплекс глубокой переработки УВС в полиолефины

                .pagination
                  .pagination__arrow.pagination__arrow_before.icon.icon-arrow
                  .pagination__item.pagination__item_active 1
                  .pagination__item 2
                  .pagination__item 3
                  .pagination__item 4
                  .pagination__item ...
                  .pagination__item 15
                  .pagination__arrow.pagination__arrow_after.icon.icon-arrow

                .search-results__actions
                  .search-results__status
                    .text__table
                      span.text__table-bold-black Сводка данных по проекту
                      span.text__table-border.text__table-border_blue Выполняется

                  .search-results__actions-item
                    i.icon.icon-star-empty.icon-star_active.search-results__actions-item-icon
                    | В избранное
                  .search-results__actions-item
                    i.icon.icon-edit.search-results__actions-item-icon
                    | Редактировать
                  .search-results__actions-item
                    i.icon.icon-eye.search-results__actions-item-icon
                    | Перейти к проекту

                .search-results__text.text
                  .text__table
                    .text__table-column
                      .text__table
                        span Заказчик
                        a(href="#") ООО «ЗапСибНефтехим»
                      .text__table
                        span ГИП
                        a(href="#") Иванов И.И.
                    .text__table-column
                      .text__table
                        span Дата начала
                        | 01.06.2016
                      .text__table
                        span Дата завершения
                        | —

                .search-results__text.text
                  h3 Титульный список
                  table.table.table_search-results
                    tr
                      th.table__first Шифр
                      th.h-ta-left Наименование
                      th Трудозатраты план, чел/ч
                      th.table__last Трудозатраты факт, чел/ч
                    tr
                      td.table__first 0315
                      td.h-ta-left
                        a(href="#") Аппартная
                      td 690
                      td.table__last 690
                    tr
                      td.table__first 0319
                      td.h-ta-left
                        a(href="#") Насосная
                      td 459
                      td.table__last 680
                  .preloader
                  .table__more-results Еще 115 строк

                  h3 Трудозатраты
                  .search-results__total 15 900 чел/час, в том числе:

                  table.table.table_search-results
                    tr
                      th.table__first(rowspan="2") марка
                      th.h-dark-grey.h-ta-center(colspan="2") план
                      th.h-dark-grey.h-ta-center(colspan="2", style="border-left: 1px solid #e6e7e7;") факт
                      th.table__last(rowspan="2") число док-тов
                    tr
                      th.h-medium-grey.table__first.h-ta-right срок вып.,
                        br
                        | дней
                      th.h-medium-grey трудозатраты,
                        br
                        | чел/ч
                      th.h-medium-grey(style="border-left: 1px solid #e6e7e7;") срок вып.,
                        br
                        | дней
                      th.h-medium-grey.table__last трудозатраты,
                        br
                        | чел/ч
                    tr
                      td.table__first
                        a(href="#") ар (архитектурные решения)
                      td 48
                      td 900
                      td
                      td
                      td.table__last 12
                    tr
                      td.table__first
                        a(href="#") тм (монтажно- технологические решения)
                      td 54
                      td 690
                      td
                      td
                      td.table__last 14
                  .table__more-results Еще 115 строк
                .search-results__comments
                  .comments-add
                    .comments-add__title
                      | Комментарии
                      .comments-add__count 220
                    form.comments-add__body
                      .comments-add__textarea
                        textarea.comments-add__textarea-item(placeholder="Оставить комментарий")
                        .button.button_white.button_full Показать новые комментарии
                        button.comments-add__icon-wrapper(type="submit")
                          i.icon.icon-send.comments-add__icon
                  
                  .comments-list.comments-list_type-page
                    .comments-list__item
                      .comments-list__name ФИо
                        .comments-list__date 22.11.1111
                      .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
                      .comment-list__actions
                        .comment-list__actions-item.comment-list__actions-item_reply Ответить
                        .comment-list__actions-item.comment-list__actions-item_edit Редактировать
                        .comment-list__actions-item.comment-list__actions-item_delete Удалить
                      .comments-list.comments-list_type-page.comments-list_child
                        .comments-list__item
                          .comments-list__name Комментарий ребенок
                            .comments-list__date 22.11.1111
                          .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
                          .comment-list__actions
                            .comment-list__actions-item.comment-list__actions-item_reply Ответить
                            .comment-list__actions-item.comment-list__actions-item_edit Редактировать
                            .comment-list__actions-item.comment-list__actions-item_delete Удалить
                          form.comments-add__body
                            .comments-add__textarea
                              textarea.comments-add__textarea-item(placeholder="Ответьте на комментарий")
                              button.comments-add__icon-wrapper(type="submit")
                                i.icon.icon-send.comments-add__icon
                        .comments-list__item
                          .comments-list__name Комментарий ребенок
                            .comments-list__date 22.11.1111
                          .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
                          .comment-list__actions
                            .comment-list__actions-item.comment-list__actions-item_reply Ответить
                            .comment-list__actions-item.comment-list__actions-item_edit Редактировать
                            .comment-list__actions-item.comment-list__actions-item_delete Удалить
                        
                    .comments-list__item
                      .comments-list__name ФИо
                        .comments-list__date 22.11.1111
                      .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
                      .comment-list__actions
                        .comment-list__actions-item.comment-list__actions-item_reply Ответить
                        .comment-list__actions-item.comment-list__actions-item_edit Редактировать
                        .comment-list__actions-item.comment-list__actions-item_delete Удалить
                        
                    .button.button_white.button_full Показать еще 15 сообщений
                            
      .comm-secret
        i.icon.icon-alert.comm-secret__icon
        | Коммерческая тайна АО «НИПИгаз»

    include ../blocks/popups
    include ../blocks/scripts
