
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск рисков проектирования
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Выученный урок
                a.dropdown__row(href="#")
                  | Поиск тендера
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-category
                          .input__beauty-arrow-text Категория
                        input.input__elem.js-beauty-arrow-input(type="text", value="Затраты")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-flag
                          .input__beauty-arrow-text Событие
                        input.input__elem.js-beauty-arrow-input(type="text", value="Дифицит персонала")
                .widjet__element-row
                  .input
                    .input__label Уровень риска
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-input-autocomplete(type="text", value="")
                        .input__arrow.js-show-autocomplete-results
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-input-autocomplete(type="text", value="")
                        .input__arrow.js-show-autocomplete-results
              include ../blocks/widjet_prom_complex

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры проекта
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row



        
        .main__right-column
          .main__title.main__right-column-title Результаты поиска
            .main__title-help
              .main__title-column.js-open-popup(data-popup="columns")
                .main__title-column-icon.icon.icon-columns
                | Выбрать стобцы
              form.main__title-form
                input.main__title-form-input(type="text", placeholder="Название запроса")
                button.main__title-form-button(type="submit") Сохранить запрос
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Excel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__text.search-results__text_empty.text
                  h1 Ничего не найдено
                  p Попробуйте изменить запрос или задать
                    br
                    | более общие параметры поиска.
                  a(href="#") Связаться с техподдержкой
                  i.icon.icon-light.search-results__empty-icon


    include ../blocks/popups
    include ../blocks/scripts