
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск в реестре ошибок
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Риски проектирования
                a.dropdown__row(href="#")
                  | Выученный урок
                .dropdown__row
                  | Поиск тендера
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-discipline
                          .input__beauty-arrow-text Дисциплина
                        input.input__elem.js-beauty-arrow-input(type="text", value="ОВК")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-category
                          .input__beauty-arrow-text Категория
                        input.input__elem.js-beauty-arrow-input(type="text", value="Выигран")
                .widjet__element-row
                  .input
                    .input__label Период
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-datepicker(type="text", value="01.06.2016")
                        .input__calendar-icon.icon.icon-calendar.js-datepicker-icon

              include ../blocks/widjet_prom_complex

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры проекта
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры титула
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row


        
        .main__right-column
          .main__title.main__right-column-title Результаты поиска
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Excel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__table
                  .search-results__table-header Реестр ошибок
                  .search-results__table-body
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Для монтажа каркаса смотровой площадки требуется демонтаж вентиляционной системы, расположенной 
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | В проекте шифр 41-1089.1-14-ОВ2, спецификация лист «8, предусматривается теплоизоляци вентиляционны
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Для монтажа каркаса смотровой площадки требуется демонтаж вентиляционной системы, расположенной 
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | В проекте шифр 41-1089.1-14-ОВ2, спецификация лист «8, предусматривается теплоизоляци вентиляционны
                    .search-results__table-row.search-results__table-row_active
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Для монтажа каркаса смотровой площадки требуется демонтаж вентиляционной системы, расположенной 
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Для монтажа каркаса смотровой площадки требуется демонтаж вентиляционной системы, расположенной 

                .pagination
                  .pagination__arrow.pagination__arrow_before.icon.icon-arrow
                  .pagination__item.pagination__item_active 1
                  .pagination__item 2
                  .pagination__item 3
                  .pagination__item 4
                  .pagination__item ...
                  .pagination__item 15
                  .pagination__arrow.pagination__arrow_after.icon.icon-arrow

                .search-results__actions
                  .search-results__actions-item
                    i.icon.icon-star-empty.search-results__actions-item-icon
                    | В избранное
                  .search-results__actions-item
                    i.icon.icon-edit.search-results__actions-item-icon
                    | Редактировать
                  .search-results__actions-item
                    i.icon.icon-eye.search-results__actions-item-icon
                    | Перейти к замечанию

                .search-results__text.text
                  h3 Предмет
                  p Для монтажа каркаса смотровой площадки требуется демонтаж вентиляционной системы, расположенной на кровле здания ПТОЛ. В связи с этим требуется корректировка сметной документации.

                  h3 Сводка данных по ошибке
                  .text__table
                    span Дата
                    | 23.12.2015
                  .text__table
                    span Рег. номер
                    | SQ-UIO-0427-SSR-OV
                  .text__table
                    span Проект
                    a(href="#") Зап.-сиб. комплекс глубокой переработки УВС в полиолефины
                  .text__table
                    span Титул
                    a(href="#") 0234 Эстакада
                  .text__table
                    span Дисциплина
                    a(href="#") ОВК
                  .text__table
                    span Ошибка проектирования
                    | Нет
                  .text__table
                    span Причина
                    | Оптимизация с целью ускорения сроков СМР

    include ../blocks/scripts