
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск выученный уроков
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Риски проектирования
                a.dropdown__row(href="#")
                  | Тендер
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-arrow-horizont
                          .input__beauty-arrow-text Процесс
                        input.input__elem.js-beauty-arrow-input(type="text", value="ОВК")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-category
                          .input__beauty-arrow-text Категория
                        input.input__elem.js-beauty-arrow-input(type="text", value="Выигран")
                .widjet__element-row
                  .input
                    .input__label Дисциплина
                    .input__body
                      .input__wrapper
                        input.input__elem.js-input-autocomplete(type="text", value="ОГН")
                        .input__arrow.js-show-autocomplete-results

              include ../blocks/widjet_prom_complex

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры проекта
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры титула
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row



        
        .main__right-column
          .main__title.main__right-column-title Результаты поиска
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Excel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__table
                  .search-results__table-header Проблема
                  .search-results__table-body
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Увеличение физ. объемов на стадии разработки РД относительно объемов, расчитанных на стадии ПД
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | При разработке ПД и на начальной стадии разработки РД не учтен реальный график СМР
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | При разработке РД не учтена сезонность строительства
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | При разработке ПД и на начальной стадии разработки РД не учтен реальный график СМР
                    .search-results__table-row.search-results__table-row_active
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Увеличение физ. объемов на стадии разработки РД относительно объемов, расчитанных на стадии ПД
                    .search-results__table-row
                      .search-results__table-icon-star.icon.icon-star-empty
                      | При разработке РД не учтена сезонность строительства

                .pagination
                  .pagination__arrow.pagination__arrow_before.icon.icon-arrow
                  .pagination__item.pagination__item_active 1
                  .pagination__item 2
                  .pagination__item 3
                  .pagination__item 4
                  .pagination__item ...
                  .pagination__item 15
                  .pagination__arrow.pagination__arrow_after.icon.icon-arrow

                .search-results__actions
                  .search-results__actions-item.search-results__actions-item_active
                    i.icon.icon-star-empty.search-results__actions-item-icon
                    | В избранном
                  .search-results__actions-item
                    i.icon.icon-edit.search-results__actions-item-icon
                    | Редактировать
                  .search-results__actions-item
                    i.icon.icon-eye.search-results__actions-item-icon
                    | Перейти к уроку

                .search-results__text.text
                  h3 Проблема
                  p Увеличение физобъемов на стадии разработки РД относительно объемов, расчитанных на стадии ПД

                  h3 Причина
                  p Неверно оценена металлоемкость эстакад (на примере тит. 7610)

                  h3 Решение
                  p При подборе ранее выпушенных титулов в качестве аналогов по физическим объемам ориентироваться на базу аналогов титулов системы (Указать название системы) с проверкой критериев типизации между титулом из базы и проектируемым титулом

                  h3 Сводка данных по уроку
                  .text__table
                    span Проект
                    a(href="#") Зап.-сиб. комплекс глубокой переработки УВС в полиолефины
                  .text__table
                    span Титул
                    a(href="#") 0234 Эстакада
                  .text__table
                    span Категория
                    a(href="#") 0234 Качество
                  .text__table
                    span Процесс
                    a(href="#") Контроль физических объемов
                  .text__table
                    span Дисциплина
                    a(href="#") ОГП


    include ../blocks/scripts