
doctype strict
html
  head
    include ../blocks/head

  body
    .wrapper
      include ../blocks/header

      section.main
        .main__left-column.ui-widget-content.js-resizable
          .main__title.main__left-column-title
            .main__title-dropdown
              | Поиск рисков проектирования
              span.main__title-dropdown-arrow
              .dropdown.nav__item-dropdown
                a.dropdown__row(href="#")
                  | Проект
                a.dropdown__row(href="#")
                  | Выученный урок
                a.dropdown__row(href="#")
                  | Поиск тендера
                .dropdown__row
                  | Поиск в реестре ошибок
            button.main__title-button(type="submit")
              i.icon.icon-search.main__title-button-search
              | Найти 

          .main__body.main__left-column-body
            .widjet.widjet_with-scroll.widjet_no-background
              .widjet__reset-all-filters.widjet__reset-all-filters_active
                | Очистить все фильтры
                .input__clear.js-input-clear
              
              .widjet__element.widjet__element_notitle
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-t
                          .input__beauty-arrow-text Название содержит
                        input.input__elem.js-beauty-arrow-input(type="text")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-category
                          .input__beauty-arrow-text Категория
                        input.input__elem.js-beauty-arrow-input(type="text", value="Затраты")
                .widjet__element-row
                  .input
                    .input__body
                      .input__wrapper
                        .input__beauty-arrow.js-beauty-arrow
                          i.input__beauty-arrow-icon.icon.icon-flag
                          .input__beauty-arrow-text Событие
                        input.input__elem.js-beauty-arrow-input(type="text", value="Дифицит персонала")
                        .input__arrow.js-show-autocomplete-results
                        .input__clear.js-input-clear
                .widjet__element-row
                  .input
                    .input__label Уровень риска
                    .input__body.input__body-justify-space-between
                      .input__wrapper.input__wrapper_double
                        | c
                        input.input__elem.input__elem_middle.js-input-autocomplete(type="text", value="")
                        .input__arrow.js-show-autocomplete-results
                      .input__wrapper.input__wrapper_double
                        | по
                        input.input__elem.input__elem_middle.js-input-autocomplete(type="text", value="")
                        .input__arrow.js-show-autocomplete-results
              include ../blocks/widjet_prom_complex

              .widjet__element.widjet__element_closed.js-widjet-accordion
                  .widjet__element-title
                    | Параметры проекта
                    .widjet__element-arrow.widjet__element-arrow_hide.js-widjet-accordion-arrow
                  .widjet__element-row



        
        .main__right-column
          .main__title.main__right-column-title Результаты поиска
            .main__title-help
              .main__title-watch-the-project
                .main__title-watch-the-project-icon.icon.icon-excel
                | Экспорт в Excel
          .main__body.main__right-column-body.main__body_nopadding
            .main__right-column-body-container
              .search-results
                .search-results__table
                  .search-results__table-header Риски проектирования
                  .search-results__table-body
                    .search-results__table-row.search-results__table-row_active
                      .search-results__table-icon-star.icon.icon-star-empty
                      | Параллельный разворот графиков и работ баз согласования с ОКСП и совещаний Н2, Н3

                .search-results__actions
                  .search-results__actions-item
                    i.icon.icon-star-empty.search-results__actions-item-icon
                    | В избранное
                  .search-results__actions-item
                    i.icon.icon-edit.search-results__actions-item-icon
                    | Редактировать
                  .search-results__actions-item
                    i.icon.icon-eye.search-results__actions-item-icon
                    | Перейти к уроку

                .search-results__text.text
                  h3 Причина
                  p Параллельный разворот графиков и работ баз согласования с ОКСП и совещаний Н2, Н3

                  h3 Мероприятия

                  ol
                    li Еженедельно на совещаниях Н2, Н1 информировать ГИПов о статусе мобилизации персонала
                    li Обсуждать мобилизацию персонала и рисков, связанных с дефицитом/профицитотм персонала по незапла-нированным/остановленным работам

                  h3 Сводка данных по риску проектирования
                  .text__table
                    span Категория
                    a(href="#") Затраты
                  .text__table
                    span События
                    a(href="#") Дифицит персоналоа
                  .text__table
                    span Ответственные
                    | Начальники отделов. ГИПы
                  .text__table
                    span Проект
                    a(href="#") Зап.-сиб. комплекс глубокой переработки УВС в полиолефины
                  .text__table
                    span Тяжесть последствия
                    span.text__table-border.text__table-border_blue 8
                  .text__table
                    span Вероятность возникновения
                    span.text__table-border.text__table-border_orange 24
                  .text__table
                    span Уровень риска
                    span.text__table-border.text__table-border_red 64


    include ../blocks/scripts
