meta(charset='UTF-8')
title Главная страница

link(href='assets/styles/all.css', rel='stylesheet' type='text/css')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no') 