.header
	.header__container
		figure.logo
			a(href="#")
				img.logo__item(src="./assets/images/Logo_nipi.svg")

		.nav
			.nav__item.nav__item_active
				a.nav__item-link.nav__item-link_with-dropdown(href="#") Инжиниринг
					span.nav__item-arrow
				.dropdown.nav__item-dropdown
					a.dropdown__row.dropdown__row_orange(href="#")
						| Инжиниринг
					a.dropdown__row.dropdown__row_blue(href="#")
						| Строительство
					a.dropdown__row.dropdown__row_light-blue(href="#")
						| Поставки
			.nav__item
				a.nav__item-link(href="#") Поиск объектов
			.nav__item
				a.nav__item-link(href="#") Конструктор правил
				.dropdown.nav__item-dropdown
					a.dropdown__row(href="#")
						| Конструктор правил
					a.dropdown__row(href="#")
						| Технико-коммерческое предложение
					a.dropdown__row(href="#")
						| Проекты
					a.dropdown__row(href="#")
						| Применить правило
					.dropdown__row
						| Поиск дубликатор
					.dropdown__row
						| Просмотр дубликатов

		.header__exit
			span.header__exit-item Выход
			i.header__exit-item-icon.icon.icon-exit
		.header__user
			i.header__user-icon.icon.icon-person
			.header__user-name Константин Иванович Константинопольский IV
		.header__help.js-open-popup(data-popup="question")
			i.header__help-item-icon.icon.icon-question
