.popup.js-popup
  .popup__item.js-popup-item.js-popup-item-columns
    .popup__header
      | Выбрать столбцы
      .input
        .input__body
          .input__wrapper
            input.input__elem.input_type-search(type="text", placeholder="Поиск")
            button.input__search
              i.icon.icon-search.input__search-icon
      .popup__close.js-popup-close
    form.popup__body.popup__body_with-scroll.popup__body_columns
      .widjet__element-row.js-sortable
        .widjet__element-checkbox
          i.icon.icon-drag.popup__row-draggable
          .checkbox
            input.checkbox__input(type="checkbox", id="column1")
            label.checkbox__label(for="column1") По возрастанию
        .widjet__element-checkbox
          i.icon.icon-drag.popup__row-draggable
          .checkbox
            input.checkbox__input(type="checkbox", id="column2")
            label.checkbox__label(for="column2") По убыванию
        .widjet__element-checkbox
          i.icon.icon-drag.popup__row-draggable
          .checkbox
            input.checkbox__input(type="checkbox", id="column3")
            label.checkbox__label(for="column3") По убыванию
        .widjet__element-checkbox
          i.icon.icon-drag.popup__row-draggable
          .checkbox
            input.checkbox__input(type="checkbox", id="column4")
            label.checkbox__label(for="column4") По убыванию

    .popup__footer
      button.popup__footer-button.button(type="submit") Сохранить
      .popup__footer-button.button.button_white.js-popup-close Отменить

  .popup__item.js-popup-item.js-popup-item-filter
    .popup__header
      | Фильтр
      .popup__close.js-popup-close
    form.popup__body
      .widjet__element-row
        .input
          .input__label Наименование
            span.input__required *
          .input__body
            .input__wrapper
              input.input__elem(type="text", value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины")
            .input__clear-icon.icon.icon-clear
      .widjet__element-row
        .input
          .input__label Операция
          select.js-select(id="mounth")
            option(value="hide") -- Month --
            option(value="january") January
            option(value="february") February
            option(value="march") March
            option(value="april") April
            option(value="may") May
            option(value="june") June
            option(value="july") July
            option(value="august") August
            option(value="september") September
            option(value="october") October
            option(value="november") November
      .widjet__element-row
        .input
          .input__label Наименование
            span.input__required *
          .input__body
            .input__wrapper
              input.input__elem(type="text", value="Зап.-сиб комплекс глубокой переработки УВС в полиолефины")
            .input__clear-icon.icon.icon-clear

    .popup__footer
      button.popup__footer-button.button(type="submit") Сохранить
      .popup__footer-button.button.button_white.js-popup-close Отменить


  .popup__item.js-popup-item.js-popup-item-sort
    .popup__header
      | Сортировка столбцов
      .popup__close.js-popup-close
    form.popup__body
      .widjet__element-row
        .input
          .input__label Поле
          select.js-select(id="mounth")
            option(value="hide") -- Month --
            option(value="January January January January JanuaryJanuary") January January January January JanuaryJanuary
            option(value="february") February
            option(value="march") March
            option(value="april") April
            option(value="may") May
            option(value="june") June
            option(value="july") July
            option(value="august") August
            option(value="september") September
            option(value="october") October
            option(value="november") November
            option(value="december") December
      .widjet__element-row
        .input
          .input__label Порядок
          .widjet__element-checkbox
            .checkbox.checkbox_radio
              input.checkbox__input(type="radio", name="filter", id="radio1")
              label.checkbox__label(for="radio1") По возрастанию
          .widjet__element-checkbox
            .checkbox.checkbox_radio
              input.checkbox__input(type="radio", name="filter", id="radio2")
              label.checkbox__label(for="radio2") По убыванию

    .popup__footer
      button.popup__footer-button.button(type="submit") Сохранить
      .popup__footer-button.button.button_white.js-popup-close Отменить


  .popup__item.js-popup-item.js-popup-item-question
    .popup__header
      | Задать вопрос
      .popup__close.js-popup-close
    form.popup__body
      .widjet__element-row
        .input
          .input__body
            .input__wrapper
              textarea.input__elem.input__elem_textarea

    .popup__footer
      button.popup__footer-button.button(type="submit") Отправить
      .popup__footer-button.button.button_white.js-popup-close Закрыть
      

  .popup__item.js-popup-item.js-popup-item-negative-comment
    .popup__header
      | Прокомментируйте вашу оценку
      .popup__close.js-popup-close
    form.popup__body
      .widjet__element-row
        .input
          .input__label Пожалуйста, укажите причину отрицательной оценки
          .input__body
            .input__wrapper
              textarea.input__elem.input__elem_textarea
  
    .popup__footer
      button.popup__footer-button.button(type="submit") Отправить
      .popup__footer-button.button.button_white.js-popup-close Закрыть
      
      
  .popup__item.js-popup-item.js-popup-item-comments-list
    .popup__header
      | Просмотр оценок
      .popup__close.js-popup-close
    form.popup__body
      .tabs.tabs_comments-list.js-tabs
        .tabs__header
          .tabs__header-item.tabs__header-item_active.js-tabs-header-item(data-tab="tab1")
            span.tabs__header-item-value Положительные оценки
          .tabs__header-item.js-tabs-header-item(data-tab="tab2")
            span.tabs__header-item-value Отрицательные оценки
        .tabs__body.tabs__body_with-scroll.tabs__body_tab1.js-tabs-body
          .comments-list
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
        .tabs__body.tabs__body_with-scroll.tabs__body_tab2.js-tabs-body
          .comments-list
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
              .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
              .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
              .comments-list__notice Здесь будет много много текста потому что нужно его заполнить
            .comments-list__item
              .comments-list__name ФИо
                .comments-list__date 22.11.1111
              .comments-list__notice Здесь будет много много текста потому что нужно его заполнить

    .popup__footer
      .popup__footer-button.button.button_white.js-popup-close Закрыть
