.widjet__element.js-widjet-accordion
    .widjet__element-title
      | Параметры промышленного комплекса
      .widjet__element-arrow.js-widjet-accordion-arrow
    .widjet__element-row
      .widjet__element-checkbox
        .checkbox
          input.checkbox__input(type="checkbox", id="row1")
          label.checkbox__label(for="row1") СПГ
      .widjet__element-checkbox
        .checkbox
          input.checkbox__input(type="checkbox", id="row2")
          label.checkbox__label(for="row2") ГПЗ
      .widjet__element-checkbox
        .checkbox
          input.checkbox__input(type="checkbox", id="row3")/
          label.checkbox__label(for="row3") НПЗ
      .widjet__element-checkbox
        .checkbox
          input.checkbox__input(type="checkbox", id="row4")/
          label.checkbox__label(for="row4") НХК
      .widjet__element-checkbox
        .checkbox
          input.checkbox__input(type="checkbox", id="row5")/
          label.checkbox__label(for="row5") ГХК
    .widjet__element-row
      .input__label Красивый селект
      select.js-select(id="mounth")
        option(value="hide") -- Month --
        option(value="January January January January JanuaryJanuary") January January January January JanuaryJanuary
        option(value="february") February
        option(value="march") March
        option(value="april") April
        option(value="may") May
        option(value="june") June
        option(value="july") July
        option(value="august") August
        option(value="september") September
        option(value="october") October
        option(value="november") November
        option(value="december") December
    .widjet__element-row
      .input__label Да или нет?
      .input__body
        .widjet__element-checkbox
          .radio
            input.radio__input(type="radio", name="group", checked, id="row6")/
            label.radio__label(for="row6") Да
        .widjet__element-checkbox
          .radio
            input.radio__input(type="radio", name="group", id="row7")/
            label.radio__label(for="row7") Нет
    .widjet__element-row
      .input
        .input__label Мощность
        .input__body
          .input__wrapper
            | от
            input.input__elem.input__elem_small(type="text", value="")
            | до
            input.input__elem.input__elem_small(type="text", value="")
            span.input__black-text млн. тонн в год
    .widjet__element-row
      .input
        .input__label ГИП
        .input__body
          .input__wrapper
            input.input__elem.js-input-autocomplete(type="text", value="Западная сибирь")
            .input__arrow.js-show-autocomplete-results
    .widjet__element-row
      .input
        .input__label ГИП
        .input__body 
          .input__wrapper
            input.input__elem.js-input-autocomplete(type="text", value="Субантарктическая")
            .input__arrow.js-show-autocomplete-results