@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf');
	font-weight: 100;
	font-style: normal;
}

*,*:before,*:after{
	box-sizing:border-box;
	transition: color 0.2s linear, background-color 0.2s linear;
	font-family: 'Roboto';
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0;
	min-width: 1024px;
}
@media screen and (max-width: 1024px) {
	body {
		overflow-x: auto!important;
	}
}
html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
b {
	font-weight: 700;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
input[type='text'],
input[type='password'],
input[type='phone'],
input[type='email'],
input[type='number'] {
	border: 1px solid #e0e0e0;
	width: 100%;
	height: 22px;
	font-size: 14px;
	padding: 0 10px;
	font-family: 'roboto';
	color: rgba(0, 0, 0, 0.87);
	border: none;
	border-bottom: 1px solid #e0e0e0;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	text-align: inherit;
}
input:focus,
textarea:focus {
	border-bottom: 2px solid #0f9bc3;
}
input:disabled {
	background: #fdfdfd;
	border: 1px solid #e3e3e3!important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input::-ms-clear {
		display: none;
}
input[type=number] {
		-moz-appearance:textfield;
}
.input_time {
	padding: 0 2px!important;
	font-size: 12px!important;
}
select {
	border: 1px solid #dedede;
	width: 100%;
	height: 22px;
	font-size: 13px;
	font-family: 'roboto';
	padding: 0 10px;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */  
	font-family: 'roboto';
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
	outline: 1px dotted ButtonText;
}
textarea {
	overflow: auto;
	font-family: 'roboto';
	border: 1px solid #dedede;
	width: 100%;
	height: 22px;
	font-size: 13px;
	padding: 0 10px;
	font-family: 'roboto';
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
}
.input_notice {
	width: 230px;
	resize: none;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ui-widget.ui-datepicker {
 z-index: 5!important;
}

input::-webkit-input-placeholder {
	color: rgba(33, 33, 33, 0.33);
	font-family: 'roboto';
}
input::-moz-placeholder          {
	color: rgba(33, 33, 33, 0.33);
	font-family: 'roboto';
}
input:-moz-placeholder           {
	color: rgba(33, 33, 33, 0.33);
	font-family: 'roboto';
}
input:-ms-input-placeholder      {
	color: rgba(33, 33, 33, 0.33);
	font-family: 'roboto';
}

.dtpkr_from, .dtpkr_to {
	font-size: 11px!important;
	height: 27px!important;
	width: 115px!important;
	padding: 0 3px!important;
	border-radius: 3px;
}