@import 'variables.styl';
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Roboto", arial;
  overflow: hidden;
  background-color: #e3e3e3;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
  line-height: normal;
}

p {
  margin: 0 0 0px;
}

.text h3 {
  font-size: 14px;
  color: #000000;
  line-height: 19px;
  margin-bottom: 11px;
  font-weight: 700;
}

.text h1 {
  font-size: 34px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
}


.text p {
  font-size: 14px;
  color: #000000;
  line-height: 19px;
  margin-bottom: 20px;
  font-weight: 400;
}

.text a {
  color: #0f9bc3;
  text-decoration: none;
}

.text a:hover {
  color: #066a87;
}

.text__table {
  width: 100%;
  margin-bottom: 6px;
  font-size: 14px;
}

.text__table span {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 10px;
  font-size: 12px;
}

.text__table-border {
  border: 1px solid;
  padding: 2px 6px;
}

.text__table-column {
  display: inline-block;
  width: 252px;
  padding-right: 10px;
  vertical-align: top;
}

span.text__table-border_blue {
  color: #0f9bc3;
  border-color: #0f9bc3;
}

span.text__table-border_grey {
  color: #9a9a9a;
  border-color: #9a9a9a;
}

span.text__table-border_orange {
  color: #f2a001;
  border-color: #f2a001;
}

span.text__table-border_red {
  color: #e61354;
  border-color: #e61354;
}

span.text__table-bold-black {
  color: #000;
  font-weight: 700;
  font-size: 14px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ltgney');
  src:  url('../fonts/icomoon.eot?ltgney#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ltgney') format('truetype'),
    url('../fonts/icomoon.woff?ltgney') format('woff'),
    url('../fonts/icomoon.svg?ltgney#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon' !important;
}
.icon-search_doc:before {
  content: "\e923";
  color: #fff;
}
.icon-drag:before {
  content: "\e924";
  color: #fff;
}
.icon-review:before {
  content: "\e921";
  color: #fff;
}
.icon-send:before {
  content: "\e922";
  color: #fff;
}
.icon-columns:before {
  content: "\e920";
  color: #fff;
}
.icon-light:before {
  content: "\e91f";
  color: #fff;
}
.icon-arrow-horizont:before {
  content: "\e91c";
  color: #fff;
}
.icon-flag:before {
  content: "\e91d";
  color: #fff;
}
.icon-person:before {
  content: "\e91e";
  color: #fff;
}
.icon-category:before {
  content: "\e91a";
  color: #fff;
}
.icon-discipline:before {
  content: "\e91b";
  color: #fff;
}
.icon-dotted:before {
  content: "\e917";
  color: #fff;
}
.icon-bag:before {
  content: "\e918";
  color: #fff;
}
.icon-t:before {
  content: "\e919";
  color: #fff;
}
.icon-excel:before {
  content: "\e915";
  color: #fff;
}
.icon-edit:before {
  content: "\e916";
  color: #fff;
}
.icon-exit:before {
  content: "\e900";
  color: #fff;
}
.icon-eye:before {
  content: "\e901";
  color: #fff;
}
.icon-file:before {
  content: "\e902";
  color: #fff;
}
.icon-filter:before {
  content: "\e903";
  color: #fff;
}
.icon-plus:before {
  content: "\e904";
  color: #fff;
}
.icon-question:before {
  content: "\e905";
  color: #fff;
}
.icon-requests:before {
  content: "\e906";
  color: #fff;
}
.icon-search:before {
  content: "\e907";
  color: #fff;
}
.icon-sort:before {
  content: "\e908";
  color: #fff;
}
.icon-star:before {
  content: "\e909";
  color: #fff;
}
.icon-star-empty:before {
  content: "\e90a";
  color: #fff;
}
.icon-time:before {
  content: "\e90b";
  color: #fff;
}
.icon-trash:before {
  content: "\e90c";
  color: #fff;
}
.icon-add:before {
  content: "\e90d";
  color: #fff;
}
.icon-alert:before {
  content: "\e90e";
  color: #fff;
}
.icon-apply:before {
  content: "\e90f";
  color: #fff;
}
.icon-arrow:before {
  content: "\e910";
  color: #fff;
}
.icon-calendar:before {
  content: "\e911";
  color: #fff;
}
.icon-checkbox:before {
  content: "\e912";
  color: #fff;
}
.icon-clear:before {
  content: "\e913";
  color: #fff;
}
.icon-close:before {
  content: "\e914";
  color: #fff;
}
