@import '../common/variables.styl';

.autocomplete {
  position: absolute;
  padding: 0;
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 4px;
  // box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.4);
  z-index: 1103;
}

.autocomplete ul {
  padding: 0;
  margin: 0;
  list-item: none;
}
.autocomplete li,
.acError {
  font-size: 12px;
  height: 34px;
  padding: 0px 8px;
  line-height: 33px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  color: #000000;
}

.autocomplete li+li {
  border-top: 1px solid #ebebeb;
}

.autocomlete__item:hover {
  background: #dddddd;
}