@import '../common/variables.styl';

.button {
  border-radius: 2px;
  background-color: #0f9bc3;
  box-shadow: 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.19);
  width: 168px;
  height: 32px;
  color: #fff
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #2166a7;
}

.button_white {
  background-color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.19);
  color: #0f9bc3;
}

.button_white:hover {
  background-color: #ebebeb;
}

.button_full {
  width: 100%;
}
