@import '../common/variables.styl';

.checkbox {
  display: inline-block;
  vertical-align: top;
  min-width: 18px;
}
.checkbox__input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.checkbox__label {
  position: relative;
  padding-left: 33px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}

.checkbox__input + .checkbox__label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #888888;
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__label:before {
  border: none;
}
.checkbox__input:checked + .checkbox__label:after {
  border: none;
  content: "\e912";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  position: absolute;
  top: 0px;
  left: 0;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #0f9bc3;
}

.checkbox__input:checked + .checkbox__label:hover:before{  
  border:none;
}

.checkbox__label_small {
  padding-left: 27px;
  display: block;
  line-height: 15px;
}

.checkbox_radio .checkbox__input + .checkbox__label:before {
  border-radius: 25px;
  width: 20px;
  height: 20px;
}

.checkbox_radio .checkbox__input:checked + .checkbox__label:before {
  border: 2px solid #0f9bc3;
}

.checkbox_radio .checkbox__input:checked + .checkbox__label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #0f9bc3;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}
