.comments-list {
  background: #f3f4f5;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 44px;
}

.comments-list textarea.comments-add__textarea-item {
  margin-bottom: 0;
}


.comments-list .comments-add__body {
  padding-bottom: 10px;
}

.comments-list__item {
  text-align: left;
  position: relative;
  font-size: 14px;
  padding: 10px 0;
}

.comments-list__item +.comments-list__item {
  border-top: 1px solid #e0e0e0;
}

.comments-list__name {
  color: #000000;
  padding-right: 80px;
  font-weight: 700;
  position: relative;
  line-height: 16px;
}

.comments-list__date {
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  right: 0px;
  top: 0;
  font-weight: 400;
}

.comments-list__notice {
  font-size: 13px;
  color: #4f5151;
  margin-top: 10px;
  line-height: 15px;
}


.comments-list_type-page {
  background: transparent;
  padding: 0;
  border: none;
}

.comments-list_type-page .comments-list__date {
  position: static;
  display: inline;
  margin-left: 5px;
  font-weight: 400;
}

.comments-list_type-page .button_full {
  max-width: 504px;
  margin-top: 20px;
}

.comment-list__actions {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 10px;
}

.comment-list__actions-item {
  color: #0f9bc3;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  display: inline;
  cursor: pointer;
}

.comment-list__actions-item_reply {
  float: left;
}

.comment-list__actions-item_delete {
  margin-left: 30px;
}

.comment-list__actions-item:hover {
  text-decoration: underline;
}

.comments-list_type-page .comments-list__item {
  max-width: 504px;
  width: 100%;
  padding-bottom: 0;
  padding-top: 15px;
}

.comments-list__item_child {
  border-top: 1px solid #dbdbdb;
  margin-top: 10px;
}

.comments-list_child {
  padding-left: 40px;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  margin-top: 10px;
}
