@import '../common/variables.styl';

.comm-secret {
  position: absolute;
  right: 30px;
  bottom: 0px;
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
  z-index: 2;
  font-size: 12px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.871);
  font-style: italic;
  height: 33px;
  line-height: 33px;
  padding-right: 10px;
  padding-left: 40px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.comm-secret__icon {
  font-size: 20px;
  position: absolute;
  top: 6px;
  left: 14px;
}

.comm-secret__icon:before {
  color: rgba(0,0,0,0.87);
}
