.comments-add {
  margin-bottom: 20px;
}

.comments-add__title {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 7px;
}

.comments-add__count {
  font-weight: 500;
  display: inline;
}

textarea.comments-add__textarea-item {
  border: 1px solid #e0e0e0;
  padding: 5px 10px 5px;
  height: auto;
  font-family: 'roboto';
  border-radius: 3px;
  margin-bottom: 20px;
}

.comments-add__body {
  display: block;
  width: 100%;
  max-width: 504px;
}

.comments-add__icon-wrapper {
  position: absolute;
  top: 0px;
  right: -50px;
  width: 40px;
  cursor: pointer;
  height: 40px;
  text-align: center;
  background: #fff;
  box-shadow: 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  border: none;
  font-size: 16px;
  padding: 2px 0 0 6px;
  vertical-align: top;
  margin-left: 10px;
}
.comments-add__icon-wrapper:hover {
  background: #ebebeb;
}
.comments-add__icon:before {
  color: #0f9bc3;
}

.comments-add__icon {
  width: 18px;
  height: 18px;
}

.comments-add__textarea {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 504px;
}
