@import '../common/variables.styl';

.dropdown {
  min-width: 210px;
  top: 100%;
  left: 0px;
  border-width: 1px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
  border-radius: 1px;
  box-shadow: 0px 0px 2px 0px rgba(34, 65, 107, 0.22);
  position: absolute;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  display: none;
}

.dropdown__row {
  color: rgba(0, 0, 0, 0.871);
  position: relative;
  padding: 10px 35px 10px 8px;
  font-size: 12px;
  line-height: 15px;
  display: block;
  text-decoration: none;
  white-space: normal;
  cursor: pointer;
  text-align: left;
  overflow: hidden;
}

.dropdown__row:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 3px;
  height: 200%;
  z-index: 3;
  position: absolute;
}

.dropdown__row:hover {
  background-color: #ebebeb;
}

.dropdown__row + .dropdown__row {
  border-top: 1px solid #ebebeb;
}

.dropdown__row_orange:before {
  background-color: #ffa800;
}

.dropdown__row_blue:before {
  background-color: #2872b7;
}

.dropdown__row_light-blue:before {
  background-color: #59b5ec;
}
