@import '../common/variables.styl';
.files-form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.files-form:after {
  content: '';
  width: 100%;
  display: table;
}

.files-form__item {
  width: 32%;
  float: left;
  margin-bottom: 27px;
}

// .files-form__item+.files-form__item {
//   margin-left: 2%;
// }

.files-form__title {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 7px;
}

.files-form__elem {
  display: block;
  width: 100%;
  background: #f3f4f5;
  padding: 14px 15px 40px 15px;
  min-height: 120px;
  position: relative;
}

.files-form__choose-file {
  color: #0f9bc3;
  font-size: 14px;
  position: absolute;
  z-index: 1;
}

.files-form__input {
  opacity: 0;
  height: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  cursor: pointer;
  width: 100%;
}

.files-form__choose {
  position: relative;
  color: #0f9bc3;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

.files-form__choose:hover {
  color: #066a87;
}

.files-form__submit {
  background: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #0f9bc3;
  font-weight: 500;
  position: absolute;
  cursor: pointer;
  bottom: 18px;
  padding: 0;
  left: 19px;
}

.files-form__submit .files-form__submit-icon:before {
  color: #0f9bc3;
}

.files-form__submit_disabled,
.files-form__submit_disabled .files-form__submit-icon:before {
  pointer-events: none;
  color: #bcbcbc;
}

.files-form__submit-icon {
  margin-right: 11px;
  font-size: 18px;
}

.files-form__subtitle {
  color: rgba(0,0,0,0.54);
}

.files-form__name {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
  font-weight: 500;
  position: relative;
}

.files-form__result {
  width: 100%;
}

.files-form__result span {
  color: rgba(0,0,0,0.54);
  font-size: 12px;
  margin-left: 12px;
}

.files-form__delete-upload-file {
  display: inline-block;
  position: relative;
  width: 14px;
  cursor: pointer;
  height: 14px;
  transform: rotate(45deg) translateY(-2px) translateX(6px);
}

.files-form__delete-upload-file:before {
  content: '';
  background: #0f9bc3;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 100%;
}

.files-form__delete-upload-file:after {
  content: '';
  background: #0f9bc3;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}

.files-form__delete-upload-file:hover:before,
.files-form__delete-upload-file:hover:after {
  background: #066a87;
}

.files-form__submit:hover,
.files-form__submit:hover .files-form__submit-icon:before {
  color: #066a87;
}

.files-form__submit_right {
  left: auto;
  right: 20px;
}

.files-form__format {
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  bottom: 19px;
  left: 15px;
}
