.footer {
  position: absolute;
  height: 32px;
  z-index: 2;
  bottom: 0;
  line-height: 32px;
  text-align: center;
  left: -8px;
  min-width: 1280px;
  width: 100%;
}

.footer__content {
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  box-shadow: 0.5px 0.866px 4px 0px rgba(0,0,0, .19);
  height: 32px;
  width: 651px;
  margin: 0 auto;
}
