.grid__title {
  color: #f2a001;
  font-weight: 700;
  margin-bottom: 10px;
  height: 20px;
}

.grid__cell {
  display: inline-block;
  vertical-align: top;
  width: 217px;
  height: 77px;
  background-color: #d9d9d9;
  border-top: 3px solid #ffa800;
  padding: 0 5px;
  word-spacing: 0px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  text-align: left;
}

.grid__cell + .grid__cell {
  border-left: 1px solid #b0b1b2;
}

.grid__cells_even .grid__cell:nth-child(2n),
.grid__cells_odd .grid__cell:nth-child(2n-1) {
  background-color: #c9c9c9;
}

.grid__cell-title {
  height: 76px;
  display: table-cell;
  width: 100%;
  font-size: 15px;
  line-height: 17px;
  color: #222323;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
  padding-left: 76px;
}

.grid__cell-image {
  width: 76px;
  height: 74px;
  line-height: 74px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 16px;
}

.grid__cell-image-item {
  vertical-align: middle;
}

.grid__cells {
  width: 100%;
  word-spacing: -4px;
}

.grid__row {
  margin-bottom: 24px;
}
