@import '../common/variables.styl';


.header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 46px;
  padding: 0 10px;
  z-index: 4;
  background-color: #016b79;
  min-width: 1280px;
}
.header__container {
  height: 46px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #008698;
  position: relative;
}
.header__container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  // background: rgb(0,134,152);
  // background: -moz-linear-gradient(left, rgba(0,134,152,1) 0%, rgba(0,134,152,1) 25%, rgba(255,168,0,1) 25%, rgba(255,168,0,1) 50%, rgba(204,231,234,1) 50%, rgba(204,231,234,1) 75%, rgba(89,181,236,1) 75%, rgba(89,181,236,1) 75%, rgba(89,181,236,1) 100%);
  // background: -webkit-linear-gradient(left, rgba(0,134,152,1) 0%,rgba(0,134,152,1) 25%,rgba(255,168,0,1) 25%,rgba(255,168,0,1) 50%,rgba(204,231,234,1) 50%,rgba(204,231,234,1) 75%,rgba(89,181,236,1) 75%,rgba(89,181,236,1) 75%,rgba(89,181,236,1) 100%);
  // background: linear-gradient(to right, rgba(0,134,152,1) 0%,rgba(0,134,152,1) 25%,rgba(255,168,0,1) 25%,rgba(255,168,0,1) 50%,rgba(204,231,234,1) 50%,rgba(204,231,234,1) 75%,rgba(89,181,236,1) 75%,rgba(89,181,236,1) 75%,rgba(89,181,236,1) 100%);
}

.header__exit {
  float: right;
  cursor: pointer;
  position: relative;
  line-height: 49px;
  height: 46px;
  margin-right: 21px;
  padding-right: 31px;
}

.header__exit-item {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.header__exit-item-icon {
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 15px;
}

.header__exit-item-icon:before {
  color: #fff;
}

.header__exit:hover .header__exit-item,
.header__exit:hover .header__exit-item-icon:before {
  color: #c8d4e4;
}

.header__help {
  float: left;
  font-size: 20px;
  line-height: 53px;
  height: 46px;
  margin-left: 30px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.header__help-item-icon:before {
  color: #fff;
}

.header__help-item-icon:hover:before {
  color: #c8d4e4;
}

.header__user {
  font-size: 14px;
  float: right;
  max-width: 312px;
  position: relative;
  margin-right: 17px;
  padding-right: 57px;
  line-height: 49px;
}

.header__user:after {
  content: '';
  background-repeat: no-repeat;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpi+P//vywTAwMDO4jgwEJwwllgJSwgghlOMMCJ7yDiK4j4DCK+gFkMQOMZAAIMAKDzC0sGEZ4GAAAAAElFTkSuQmCC");
  background-position: 0 0;
  width: 1px;
  position: absolute;
  height: 20px;
  right: 0;
  top: 50%;
  margin-top: -9px;
}

.header__user-name {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.header__user-icon {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  font-size: 18px;
  right: 17px;
}
