@import '../common/variables.styl';

.input {
  width: 100%;
  margin-bottom: 15px;
}

.input__label {
  color: rgba(0,0,0,0.46);
  font-size: 12px;
  margin-bottom: 5px;
}

input.input__elem {
  padding: 0 40px 0 0;
}

.input__wrapper {
  position: relative;
  width: 100%;
  color: rgba(0,0,0,0.46);
  font-size: 12px;
}

.input__body {
  position: relative;
  /* padding-right: 60px; */
  display: flex;
  flex-flow: row nowrap;
}

.input__clear-icon,
.input__add-icon {
  // position: absolute;
  // right: 30px;
  // top: 0;
  cursor: pointer;
  font-size: 17px;
  margin-left: 15px;
}

.input__add-icon {
  margin-left: 10px;
}

.input__remove-icon {
  width: 17px;
  height: 22px;
  display: block;
  margin-left: 15px;
  position: relative;
  transform: rotate(45deg);
  cursor: pointer;
}

.input__remove-icon:before,.input__remove-icon:after {
  content: '';
  background: #8f8f8f;
  position: absolute;
}

.input__remove-icon:before {
  width: 2px;
  top: 2px;
  height: 12px;
  left: 6px;
  margin-left: -1px;
}

.input__remove-icon:after {
  left: 0;
  top: 13px;
  width: 12px;
  height: 2px;
  margin-top: -6px;
}

.input__clear-icon:before,
.input__add-icon:before {
  color: #8f8f8f;
}

.input_half {
  width: 50%;
  float: left;
  padding-right: 17px;
}

.input_half+.input_half {
  padding-right: 0;
  width: 49%;
  margin-left: 1%;
}

.input__calendar-icon {
  position: absolute;
  right: 8px;
  top: 0;
  cursor: pointer;
  font-size: 18px;
}

.input__calendar-icon:before {
  color: #8f8f8f;
}

.input__clear-icon:hover:before,
.input__calendar-icon:hover:before,
.input__add-icon:hover:before {
  color: #066a87;
}

.input__remove-icon:hover:before,.input__remove-icon:hover:after {
  background: #066a87;
}

.input__required {
  color: #f2a001;
  margin-left: 2px;
  position: relative;
  display: inline!important;
  top: -1px;
}

input.input__elem_small {
  display: inline-block;
  width: 40px;
  margin: 0 20px 0 10px;
  vertical-align: top;
}

.input__black-text {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.input__arrow {
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #bcbcbc;
  top: 50%;
  margin-top: -3px;
  right: 0px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.input__arrow:hover {
  border-top: 6px solid #066a87;
}

.input__beauty-arrow:before {
  content: '';
  background-image: url("../images/arrow_start.png");
  background-repeat: no-repeat;
  width: 8px;
  height: 100%;
  position: absolute;
  left: -8px;
  top: 0;
}

.input__beauty-arrow {
  background-image: url("../images/arrow_body.png");
  height: 40px;
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0; */
  position: relative;
  line-height: 38px;
  background-repeat: repeat-x;
  margin-left: 5px;
  padding-left: 37px;
  font-size: 12px;
  color: rgba(0,0,0,0.54);
  padding-right: 11px;
  white-space: nowrap;
  max-width: 100%;
  width: 100%;
}

.input__beauty-arrow:after {
  content: '';
  background-image: url("../images/arrow_end.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 100%;
  top: 0;
  position: absolute;
  right: -12px;
}

.input__beauty-arrow-text {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input__beauty-arrow_focus,
.input__beauty-arrow_focus:before,
.input__beauty-arrow_focus:after,
.input__beauty-arrow_focus .input__beauty-arrow-icon:before {
  color: #2872b7;
  background-position: left bottom;
}

.input__beauty-arrow + .input__elem {
  height: 36px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  padding-left: 15px;
}

input.input__elem_pad-185 {
  padding-left: 185px;
}

input.input__elem_pad-145 {
  padding-left: 145px;
}

input.input__elem_pad-135 {
  padding-left: 135px;
}

input.input__elem_pad-130 {
  padding-left: 130px;
}

input.input__elem_pad-125 {
  padding-left: 125px;
}

input.input__elem_pad-110 {
  padding-left: 110px;
}

input.input__elem_pad-100 {
  padding-left: 100px;
}

.input__beauty-arrow-icon {
  font-size: 20px;
  position: absolute;
  left: 4px;
  top: 8px;
}

.input__beauty-arrow-icon:before {
  color: #bcbcbc;
}

.input__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

input.input__elem_middle {
  margin-left: 10px;
}

.input__wrapper_double {
  width: 48%;
}

.input__body-justify-space-between {
  justify-content: space-between;
}

.input__beauty-arrow_focus,
.input__beauty-arrow_focus .input__beauty-arrow-icon:before {
  color: #2872b7;
}
textarea.input__elem_textarea {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input.input__elem_error {
  border-bottom: 2px solid #e61354;
}
.input__error{
  color: #e61354;
  font-size: 11px;
}

.input__clear {
  position: absolute;
  width: 10px;
  cursor: pointer;
  height: 10px;
  transform: rotate(45deg) translateY(-50%) translateX(0px);
  top: 46%;
  right: 8px;
}

.input__clear:before {
  content: '';
  background: #a3a3a3;
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 100%;
}
.input__clear:after {
  content: '';
  background: #a3a3a3;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}
.input__clear:hover:before,
.input__clear:hover:after {
  background: #0f9bc3;
}

.input__arrow + .input__clear {
  right: 29px;
}

.input__beauty-arrow ~ .input__arrow {
  right: 8px;
}
.input__beauty-arrow_focus ~ .input__arrow {
  border-top: 6px solid #066a87;
}

.input__beauty-arrow ~ .input__clear {
  display: none;
}
.input__beauty-arrow_focus ~ .input__clear {
  display: block;
}

input.input_type-search {
  border: 1px solid #e0e0e0!important;
  border-radius: 4px;
  height: 28px!important;
  padding-left: 10px;
  margin-top: 15px;
}

.input__search {
  background: transparent;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 28px;
  line-height: 31px;
}

.input__search-icon:before {
  color: #9f9f9f;
  font-size: 16px;
}
