@import '../common/variables.styl';

.login-form {
  width: 372px;
  min-height: 421px;
  position: absolute;
  top: 50%;
  margin-left: -186px;
  transform: translateY(-50%);
  left: 50%;
  display: block;
  text-align: center;
  box-shadow: 0px 0px 2px 0px rgba(34,65,107,0.22);
  border-width: 1px;
  border-color: #ebebeb;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
}

.login-form__header {
  background: #016b79;
  height: 106px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.login-form__header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 140px;
  border: 52px solid transparent;
  border-left: 29px solid #008698;
}

.login-form__header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  background: #008698;
  width: 140px;
  height: 100%;
}

.login-form__logo {
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 5;
  position: absolute;
}

.login-form__logo_nipigaz {
  background-image: url("../images/Logo_nipi.png");
  width: 115px;
  height: 32px;
  left: 24px;
  top: 37px;
}

.login-form__logo_light {
  background-image: url("../images/light.svg");
  width: 69px;
  height: 63px;
  left: 182px;
  top: 19px;
}

.login-form__logo_suz {
  background-image: url("../images/logo_suz.png");
  width: 90px;
  left: 261px;
  height: 51px;
  top: 28px;
}

.login-form__title {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin-bottom: 26px;
}

.login-form__body {
  padding: 40px 50px 20px;
}

.login-form__input-wrapper {
  margin-bottom: 31px;
}

.login-form__submit {
  border-radius: 1px;
  background-color: #0f9bc3;
  box-shadow: 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.19);
  width: 126px;
  height: 32px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
}

.login-form__submit:hover {
  background-color: #2166a7;
}

.login-form__input-wrapper .input__elem {
  padding: 0;
}