.main {
  position: relative;
  height: 100%;
}

.main__left-column {
  min-width: 469px;
  background-color: #dcdcdc;
  height: 100% !important;
  max-width: 500px;
  float: left;
  z-index: 3;
  position: relative;
  padding-top: 46px;
}

.main__right-column {
  background-color: #fff;
  height: 100% !important;
  position: relative;
  z-index: 2;
  min-width: 1024px;
  padding-top: 46px;
}

.main__title {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  padding-left: 30px;
  line-height: 47px;
  height: 49px;
  position: relative;
  overflow: hidden;
}

.main__left-column-title {
  background: #016b79;
  border-bottom: 2px solid #034951;
  overflow: visible;
}

.main__right-column-title {
  background: #057988;
  border-bottom: 2px solid #055963;
}

.main__left-column-title:before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 6px solid transparent;
  border-right: 6px solid #034951;
  border-bottom: 6px solid #034951;
}

.main__body {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 0px;
}

.main__left-column-body {
  padding: 14px;
  padding-top: 7px;
}

.main__title-help {
  position: absolute;
  right: 0;
  top: 0px;
  background: #057988;
  padding-left: 10px;
  padding-right: 30px;
}

.main__title-help:before {
  content: '';
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(5,121,136,0.98) 62%, rgba(5,121,136,1) 63%, rgba(5,121,136,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(5,121,136,0.98) 62%,rgba(5,121,136,1) 63%,rgba(5,121,136,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(5,121,136,0.98) 62%,rgba(5,121,136,1) 63%,rgba(5,121,136,1) 100%);
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0;
  right: 100%;
}


.main__title-watch-the-project {
  float: left;
  position: relative;
  color: #fff;
  font-size: 12px;
  padding-left: 30px;
  letter-spacing: 0.5px;
  text-decoration:none;
  cursor: pointer;
}

.main__title-watch-the-project:hover,
.main__title-watch-the-project:hover .main__title-watch-the-project-icon:before {
  color: #c8d4e4;
}

.main__title-watch-the-project-icon {
  position: absolute;
  left: -8px;
  top: 12px;
  font-size: 24px;
}

.main__title-help-close {
  width: 28px;
  height: 28px;
  float: right;
  margin-top: 10px;
  font-size: 26px;
  margin-left: 29px;
  cursor: pointer;
}
.main__title-help-close:hover:before,
.main__title-help-apply:hover:before {
  color: #c8d4e4;
}
.main__title-help-apply {
  width: 28px;
  height: 28px;
  float: right;
  margin-left: 12px;
  font-size: 26px;
  margin-top: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.main__right-column-body {
  position: relative;
  top: auto;
  bottom: auto;
  display: block;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 14px;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.main__form-button {
  float: left;
  margin-top: 12px;
}

.main__form-button +.main__form-button {
  float: right;
}

.main__body-row:after {
  content: '';
  display: table;
  width: 100%;
}

.main__right-column-body-container {
  min-height: 100%;
  position: relative;
}

.main__form {
  margin-bottom: 26px;
}

.main__body-column {
  width: 50%;
  float: left;
  padding-right: 17px;
  position: relative;
}

.main__body-column+.main__body-column {
  padding-right: 0;
  width: 49%;
  margin-left: 1%;
}

.main__body-row:after {
  content: '';
  display: table;
  width: 100%;
}

.main__body_nopadding {
  padding: 0 0 40px 0;
}

.main__title-dropdown {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.main__title-dropdown-arrow {
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  top: 21px;
  right: 0px;
}

.main__title-dropdown:hover .dropdown {
  display: block;
}

.main__title-button-search {
  position: absolute;
  width: 20px;
  font-size: 17px;
  height: 20px;
  top: 8px;
  left: 23px;
}

.main__title-button {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.19);
  border: none;
  font-family: 'roboto';
  font-weight: 500;
  color: #0f9bc3;
  text-transform: uppercase;
  font-size: 14px;
  height: 33px;
  width: 125px;
  cursor: pointer;
  position: relative;
  text-align: left;
  padding: 0 0 0 50px;
  float: right;
  margin: 7px 13px 0 0;
  line-height: 35px;
}

.main__title-button:hover {
  background-color: #ebebeb;
}

.main__title-button-search:before {
  color: #0f9bc3;
}

.main__title_common {
  background: #016b79;
}

.main__title_common:before {
  opacity: 0;
}

.main__title_common .main__title-help {
  background: #016b79;
}

.main__title_common .main__title-help:before {
  background: #016b79;
}

.main__title-form {
  float: left;
  position: relative;
  color: #fff;
  font-size: 12px;
  padding-left: 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
}

.main__title-column {
  float: left;
  position: relative;
  color: #fff;
  font-size: 12px;
  padding-left: 30px;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

input.main__title-form-input {
  border-radius: 2px;
  background-color: rgb(1, 98, 111);
  border: none;
  height: 24px;
  color: #fff;
  font-size: 14px;
  width: 140px;
  margin-right: 10px;
}

input.main__title-form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}
input.main__title-form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}
input.main__title-form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}
input.main__title-form-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}

.main__title-form-button {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.5px;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.main__title-column-icon {
  position: absolute;
  left: -8px;
  top: 12px;
  font-size: 24px;
}
.main__body_noallpadding {
  padding: 0;
}
