@import '../common/variables.styl';


.message {
  background: #faeed7;
  padding: 15px 17px 15px 81px;
  background-color: #faeed7;
  width: 100%;
  position: relative;
  min-height: 89px;
  margin-bottom: 20px;
}
.message__icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 22px;
  left: 18px;
  font-size: 48px;
}
.message__title {
  font-size: 18px;
  color: #ffa800;
  margin-top: 5px;
  margin-bottom: 5px;
}
.message__description {
  color: #000;
  font-size: 12px;
}
.message__icon:before {
  color: #ffa800;
}