@import '../common/variables.styl';


.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  line-height: 46px;
  height: 46px;
  margin-left: -74px;
}

.nav__item {
  display: inline-block;
  text-align: center;
  position: relative;
}

.nav__item:hover .nav__item-dropdown {
  display: block;
}

.nav__item-dropdown .dropdown__row {
  font-size: 14px;
  padding-right: 8px;
}

.nav__item-link {
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 10px 18px;
  letter-spacing: 0.2px;
}

.nav__item-link:hover {
  background: #0792a5;
  color: #c8d4e4;
}

.nav__item-link_with-dropdown {
  padding: 10px 33px 10px 16px;
}

.nav__item_active .nav__item-link {
  background: #f2a001;
  color: #fefefe;
  border-radius: 3px;
}

.nav__item + .nav__item:before {
  content: '';
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAYAAABMDlehAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpi+P//vywTAwMDO4jgwEJwwllgJSwgghlOMMCJ7yDiK4j4DCK+gFkMQOMZAAIMAKDzC0sGEZ4GAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1px;
  position: absolute;
  height: 20px;
  left: 0;
  top: 50%;
  margin-top: -9px;
}

.nav__item_active + .nav__item:before,
.nav__item_active:before {
  opacity: 0;
}

.nav__item-arrow {
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  top: 16px;
  right: 16px;
}
