@import '../common/variables.styl';


.pagination {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.pagination_top {
  margin-top: -40px;
}

.pagination__item {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 23px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 0;
}

.pagination__item_active {
  color: #fff;
  background-color: #0f9bc3;
}

.pagination__arrow {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #a1a1a1;
  vertical-align: top;
}

.pagination__arrow:before {
  color: #a1a1a1;
  font-size: 18px;
  height: 23px;
  line-height: 23px;
}

.pagination__arrow_before {
  margin-right: 5px;
}

.pagination__arrow_after {
  margin-left: 5px;
  transform: rotate(180deg);
}

.pagination__item:hover {
  background: #ebebeb;
}

.pagination__item_active:hover {
  background: #066a87;
}

.pagination__arrow:hover:before {
  color: #066a87;
}