.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.popup__item {
  width: 492px;
  display: none;
  background: #fff;
  left: 50%;
  margin-left: -246px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  padding: 30px 44px 40px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.19);
}

.popup__header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.89);
  line-height: 25px;
  /* position: relative; */
  margin-bottom: 25px;
}

.popup__close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 12px;
  cursor: pointer;
  right: 14px;
  transform: rotate(-45deg);
}

.popup__close:before, .popup__close:after {
  content: '';
  background: rgba(0, 0, 0, 0.44);
  position: absolute;
}

.popup__close:before {
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -1px;
}

.popup__close:after {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__close:hover:before, .popup__close:hover:after {
  background: #066a87;
}

.popup__footer {
  width: 100%;
  position: relative;
  padding-top: 30px;
}

.popup__footer:after {
  content: '';
  display: table;
  width: 100%;
}

.popup__footer-button {
  float: left;
}

.popup__footer-button +.popup__footer-button {
  float: right;
}

.popup__body .widjet__element-row {
  padding: 0;
}

.popup .checkbox__label {
  font-size: 14px;
}

.popup .widjet__element-row .input__body {
  flex-flow: row nowrap;
}

.popup__body_with-scroll {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f9f9f9;
  margin: 0 -44px;
  max-height: 300px;
  overflow-y: auto;
}

.popup__row-draggable:before {
  color: #b4b4b4;
}

.popup__row-draggable {
  vertical-align: top;
  display: inline-block;
  margin-top: 1px;
  margin-left: 19px;
  margin-right: 16px;
}

.popup__body_with-scroll .widjet__element-row {
  margin-bottom: 0;
}

.popup__body_with-scroll .widjet__element-checkbox {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}

.popup__body_columns .widjet__element-checkbox {
  width: 100%;
  display: block;
}
