@import '../common/variables.styl';

.radio {
  display: inline-block;
  vertical-align: top;
  min-width: 18px;
  margin-top: 4px;
}
.radio__input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.radio__label {
  position: relative;
  padding-left: 33px;
  font-size: 12px;
  color: #000;
  cursor: pointer;
}
.radio__input + .radio__label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #888;
  border-radius: 22px;
}
.radio__input:checked + .radio__label:before {
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #2872b7;
  border-radius: 22px;
}
.radio__input:checked + .radio__label:after {
  border: none;
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 14px;
  background: #2872b7;
}

.radio__label_small {
  padding-left: 27px;
  display: block;
  line-height: 15px;
}
.radio_radio .radio__input + .radio__label:before {
  border-radius: 25px;
  width: 20px;
  height: 20px;
}
.radio_radio .radio__input:checked + .radio__label:before {
  border: 2px solid #0f9bc3;
}
.radio_radio .radio__input:checked + .radio__label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #0f9bc3;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}
