.review__item {
  border: 1px solid #e0e0e0;
  float: left;
  height: 25px;
  line-height: 23px;
  padding: 0 8px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  background: #ffffff;
}

.review__item_up .review__icon {
  color: #0f9bc3;
  transform: rotate(180deg);
}

.review__item_up .review__icon:before {
  color: #0f9bc3;
}

.review__icon {
  display: inline-block;
  vertical-align: middle;
}

.review__item_down {
  color: #e61354;
  border-radius: 0 3px 3px 0;
  border-left: 0px;
}

.review__item_up {
  border-radius: 3px 0 0 3px;
  color: #0f9bc3;
}

.review__item_down .review__icon:before {
  color: #e61354;
}

.review__count {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 1px;
}

.review__view {
  float: left;
  margin-left: 9px;
  height: 25px;
  line-height: 27px;
}

.review {
  width: 100%;
  overflow: hidden;
}

.review__view-eye {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.24);
  text-decoration: none;
  font-size: 18px;
  margin-top: 3px;
  display: block;
}

.review__view-eye:before {
  color: rgba(0, 0, 0, 0.24);
}

.review__item:hover {
  background: #f3f4f5;
}

.review__view:hover .review__view-eye:before {
  color: #000;
}

.review_search-result {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-right: 30px;
}
