.search-results {
  width: 100%;
}

.search-results_padding-top {
  padding-top: 25px;
}

.search-results__table-header {
  min-height: 29px;
  line-height: 16px;
  background: #cce7ea;
  font-size: 12px;
  color: #3f7379;
  font-weight: 500;
  text-transform: uppercase;
  padding: 6px 0px 6px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results__table-row {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  padding: 8px 30px 10px 63px;
  cursor: pointer;
}

.search-results__table-row_active {
  background-color: #ebebeb;
  color: #000;
  font-weight: 700;
}

.search-results__table-icon-star {
  position: absolute;
  font-size: 23px;
  left: 27px;
  top: 5px;
  cursor: pointer;
}

.search-results__table-icon-star:before {
  color: #818181;
}

.search-results__actions {
  width: 100%;
  position: relative;
  text-align: right;
  padding-right: 30px;
  margin-bottom: 5px;
}

.search-results__actions-item {
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  color: #0f9bc3;
  position: relative;
  margin-left: 10px;
  line-height: 28px;
  padding-left: 35px;
  cursor: pointer;
}

.search-results__actions-item-icon {
  position: absolute;
  top: 2px;
  left: 0px;
}

.search-results__actions-item-icon:before {
  color: #0f9bc3;
  font-size: 21px;
}

.search-results__text {
  padding: 0 30px;
  margin-bottom: 16px;
  position: relative;
}

.search-results__table {
  margin-bottom: 16px;
}

.search-results__table-icon-star:hover:before {
  color: #0f9bc3;
}

.search-results__table-icon-star_active:before {
  color: #066a87;
  content: "\e909";
}

.search-results__table-row:hover {
  background: #f7f7f7;
}

.search-results__status {
  float: left;
  margin-left: 30px;
  margin-top: 3px;
}

.search-results__total {
  color: #000000;
  font-size: 14px;
  display: inline-block;
  border-width: 1px;
  border-color: rgb(30, 171, 173);
  border-style: solid;
  line-height: 24px;
  height: 25px;
  padding: 0 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.search-results__actions-item:hover,
.search-results__actions-item:hover .search-results__actions-item-icon:before {
  color: #066a87;
}

// .search-results__actions-item_active .icon-star-empty:before {
//   color: #066a87;
//   content: "\e909";
// }

.search-results__text_no-margin-bottom {
  margin-bottom: 0;
}

.search-results__export {
  text-decoration: none;
  cursor: pointer;
}

.search-results__export-icon:before {
  font-size: 18px;
  color: #0f9bc3;
  position: absolute;
  left: -30px;
}

.search-results__export:hover,
.search-results__export:hover .search-results__export-icon:before,
.search-results__search:hover,
.search-results__search:hover .search-results__export-icon:before {
  color: #066a87;
}

.search-results__table-wrapper {
  position: relative;
}


.search-results__empty-icon:before {
  color: rgba(0, 0, 0, 0.07);
  font-size: 114px;
}

.search-results__text_empty {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  left: 0;
}

.search-results__text_empty p {
  color: rgba(0, 0, 0, 0.8);
}

.search-results__empty-icon {
  display: block;
  margin-left: -30px;
  margin-top: 40px;
}

.search-results__comments {
  background: #f9f9f9;
  padding: 31px;
}

.search-results__table-icon-eye {
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 60px;
}

.search-results__table-icon-eye:before {
  color: #818181;
}

.search-results__table-row_with-eye {
  padding-left: 95px;
}

.search-results__table-icon-eye:hover:before {
  color: #0f9bc3;
}

.search-results__table-menu {
  position: absolute;
  right: 0;
  top: -33px;
  color: #0f9bc3;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.search-results__search, .search-results__export {
  display: inline-block;
  position: relative;
  margin-left: 40px;
}
