.search {
  background: #016b79;
  width: 100%;
  padding-top: 46px;
  margin-bottom: 31px;
}

.search__wrapper {
  margin: 0 auto;
  max-width: 665px;
  width: 100%;
  padding-right: 14px;
  padding-top: 45px;
  padding-bottom: 56px;
}

.search__nav {
  width: 100%;
  font-size: 14px;
  color: #fff;
  text-align: left;
  margin-bottom: 5px;
}

.search__nav-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  padding-bottom: 20px;
}

.search__input {
  border: none !important;
  background: #034951;
  border-radius: 4px;
  height: 38px !important;
  padding-right: 60px !important;
  padding-left: 20px !important;
  color: #fff!important;
}

.search__input.acInput {
  border-radius: 5px;
  color: #FFFFFF !important;
}
input.search__inpu.acInputt:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}
input.search__input.acInput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}
input.search__input.acInput::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}
input.search__input.acInput:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-family: 'roboto';
}

.search__body {
  position: relative;
}

.search__button {
  background-color: #0f9bc3;
  position: absolute;
  right: 2px;
  top: 2px;
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search__button:before {
  font-size: 18px;
}

.search__nav-icon {
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
}
.search__nav-icon_star-empty {
  font-size: 24px;
  margin-right: 12px;
}

.search__nav-item+.search__nav-item {
  margin-left: 51px;
}

.search__nav-icon_time  {
  margin-right: 8px;
}

.search__nav-icon_requests {
  margin-right: 5px;
}

.search__nav-dropdown {
  width: 224px;
  top: 32px;
  left: -50px;
}



.search__nav-dropdown-delete {
  position: absolute;
  width: 12px;
  cursor: pointer;
  height: 12px;
  transform: rotate(45deg) translateY(-2px) translateX(6px);
  right: 10px;
  top: 50%;
  margin-top: -8px;
  cursor: pointer;
  text-decoration: none;
}

.search__nav-dropdown-delete:before, .search__nav-dropdown-delete:after {
  content: '';
  background: rgba(0, 0, 0, 0.44);
  position: absolute;
}

.search__nav-dropdown-delete:before {
  top: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 100%;
}

.search__nav-dropdown-delete:after {
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
}

.search__nav-arrow {
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  top: 8px;
  right: -20px;
  opacity: 0;
  transition: all 0.2s linear;
}

.search__nav-item:hover .search__nav-arrow {
  opacity: 1;
}

.search__nav-item:hover .search__nav-dropdown {
  display: block;
}