.select {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 22px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 22px;
  font-size: 14px;
  padding: 0 20px 0 0;
  font-family: 'roboto';
  color: rgba(0,0,0,0.87);
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:active, .select-styled.active {
  border-bottom: 2px solid #0f9bc3;
}

.select-styled:active:after, .select-styled.active:after {
  transform: rotate(180deg);
  border-top: 6px solid #066a87;
  top: 2px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  list-style: none;
  padding: 0;
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 4px;
  z-index: 1103;
  height: 200px;
  overflow-y: auto;
}

.select-options li {
  font-size: 12px;
  line-height: 17px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  color: #000;
  padding: 8px;
  min-height: 34px;
}

.select-options li:hover {
  background: #ddd;
}

.select-options li[rel="hide"] {
  display: none;
}

.select-styled:after {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #bcbcbc;
  top: 9px;
  right: 0px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.select-options li+li {
  border-top: 1px solid #ebebeb;
}
