@import '../common/variables.styl';

.table {
  width: 100%;
  text-align: right;
  margin-bottom: 12px;
}

.table tr {
  height: 28px;
  font-weight: 500;
}

.table tr:hover {
  background-color: #f3f4f5;
}

.table th {
  background: #e6e7e7;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #4f5151;
  font-size: 12px;
  padding-bottom: 4px;
  font-weight: 500;
}

.table td {
  height: 28px;
  vertical-align: middle;
  font-size: 12px;
  color: #000000;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
}

.table td:first-child,
.table th:first-child {
  text-align: left;
  padding-left: 21px;
}
.table td:last-child,
.table th:last-child {
  padding-right: 21px;
}

.table_search-results {
  padding: 0 30px;
}

.table_search-results .table_search-results_active td {
  border-bottom: 2px solid #f2a001!important;
  border-top: 2px solid #f2a001!important;
}

.table_search-results .table_search-results_active td:first-child {
  border-left: 2px solid #f2a001!important;
}

.table_search-results .table_search-results_active td:last-child {
  border-right: 2px solid #f2a001!important;
}

tr.table_search-results_active {
  font-weight: 700;
}

.table__more-results {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  line-height: 16px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.table__more-results:hover {
  color: #0f9bc3;
}

.table__more-results:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  right: -12px;
  top: 4px;
  border-top: 2px solid #c3c3c3;
  border-right: 2px solid #c3c3c3;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}

.table__more-results:hover:after {
  border-color: #0f9bc3;
}

.table_search-results.table th,
.table_search-results.table td {
  padding-right: 10px;
}

.table_search-results-total td {
  background-color: #cce7ea;
  border: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.table_search-results-total .table__first {
  color: #3b6278;
}

.table_search-results tr > th {
 border: solid #F0F0F0 !important;
 border-width: 1px 1px 0 0 !important;
 text-align: center !important;
}

.table_search-results tr > th:last-child {
 border-right-width: 0 !important;
}

.table_search-results tr:first-child > th {
 border-top-width: 0 !important;
}

.table_search-results tr:nth-child( 2 ) > th {
 background-color: #CFD3D3;
}

table th,
table td {
  text-align: left;
}