@import '../common/variables.styl';

.tabs {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.tabs__header {
  margin-bottom: 34px;
}

.tabs__body {
  display: block;
  padding-right: 14px;
}

.tabs__body + .tabs__body {
  display: none;
}

.tabs__header-item {
  font-size: 18px;
  color: rgba(34,35,35,0.7);
  font-weight: 500;
  display: inline-block;
  line-height: 37px;
  vertical-align: top;
  padding: 0 21px;
  border-radius: 2px;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tabs__header-item_active {
  background: #0f9bc3;
  color: #fff;
}

.tabs__header-item-value {
  border-bottom: 2px dashed #0f9bc3;
}

.tabs_comments-list .tabs__header-item {
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid transparent;
  padding: 0 11px 15px;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.tabs_comments-list .tabs__header-item-value {
  border-bottom: none;
}

.tabs_comments-list .tabs__header-item_active {
  border-bottom: 3px solid #0f9bc3;
  background: transparent;
  color: #0f9bc3;
}

.tabs_comments-list {
  overflow: visible;
}

.tabs_comments-list .tabs__header {
  margin-bottom: 0;
  text-align: left;
  margin-left: -9px;
}

.tabs__body_with-scroll {
  overflow-y: auto;
  margin-left: -44px;
  margin-right: -44px;
  padding-right: 0;
  max-height: 300px;
}

.tabs_comments-list .tabs__header-item + .tabs__header-item.tabs__header-item_active {
  color: #e61354;
  border-bottom: 3px solid #e61354;
}
