.tooltip {
  position: absolute;
  text-align: center;
  font-size: 14px;
  color: #f8f8f8;
  background-color: rgba(33,33,33,0.87);
  line-height: 22px;
  border-radius: 4px;
  padding: 0 20px;
  z-index: 2;
}

.tooltip:before {
    position: absolute;
    border: 6px solid transparent;
    border-bottom: 6px solid rgba(33,33,33,0.87);
    bottom: 100%;
    left: 50%;
    content:'';
}