@import '../common/variables.styl';

.widjet {
  width: 100%;
  height: 100%;
  background: #fff;
}
.widjet__body {
  overflow-y: auto;
  height: calc(100% - 36px);
}
.widjet__header {
  background-color: #e0e0e0;
  height: 36px;
  line-height: 36px;
  padding-left: 16px;
}

.widjet__select-all {
  float: left;
  margin-top: -2px;
  height: 30px;
}

.widjet__actions {
  float: right;
  white-space: nowrap;
  height: 35px;
}
.widjet__actions__item {
  display: inline-block;
  vertical-align: top;
  font-size: 23px;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-right: 9px;
  margin-top: 4px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.06);
}
.widjet__actions__item:after {
  content: ' ' attr(data-notice) ' ';
  width: 139px;
  height: 24px;
  position: absolute;
  text-align: center;
  font-size: 14px;
  color: #f8f8f8;
  background-color: rgba(33, 33, 33, 0.87);
  line-height: 22px;
  top: -22px;
  right: -7px;
  margin-left: -71px;
  border-radius: 4px;
  display: none;
}
.widjet__actions__item:hover:after {
  display: block;
}
.widjet__actions__devider {
  display: inline-block;
  height: 21px;
  width: 1px;
  background: #c6c6c6;
  margin-right: 7px;
  margin-top: 9px;
}

.widjet__actions__item:hover:before,
.widjet__actions__item_active:before {
  color: #066a87;
}

.widjet__row {
  border-bottom: 1px solid #e0e0e0;
  // white-space: nowrap;
  font-size: 14px;
  color: #000;
  padding: 10px 16px 7px 45px;
  position: relative;
  overflow: hidden;
}

.widjet__row_active {
  font-weight: 700;
  background-color: #ebebeb;
}

.widjet__checkbox {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 10px;
  left: 17px;
}

.widjet__row-help {
  position: absolute;
  right: -50px;
  top: 0;
  height: 100%;
  background: #fff;
  width: 20px;
  padding-top: 8px;
  white-space: nowrap;
  text-align: center;
  transition: all 0.2s linear;
}

.widjet__row-help:before {
  content: '';
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.69) 48%, rgba(255,255,255,0.92) 64%, rgba(255,255,255,0.96) 81%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.69) 48%,rgba(255,255,255,0.92) 64%,rgba(255,255,255,0.96) 81%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.69) 48%,rgba(255,255,255,0.92) 64%,rgba(255,255,255,0.96) 81%,rgba(255,255,255,1) 100%);
  position: absolute;
  right: 100%;
  width: 30px;
  height: 100%;
  top: 0;
}

.widjet__row:hover .widjet__row-help {
  width: 80px;
  right: 0;
  background-color: #f3f4f5;
}
.widjet__row:hover .widjet__row-help:before {
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(243,244,245,0.69) 50%, rgba(243,244,245,0.92) 64%, rgba(243,244,245,0.96) 82%, rgba(243,244,245,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(243,244,245,0.69) 50%,rgba(243,244,245,0.92) 64%,rgba(243,244,245,0.96) 82%,rgba(243,244,245,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(243,244,245,0.69) 50%,rgba(243,244,245,0.92) 64%,rgba(243,244,245,0.96) 82%,rgba(243,244,245,1) 100%);
}

.widjet__row:hover {
  background-color: #f3f4f5;
}

.widjet__row-help-item {
  font-size: 20px;
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  margin-right: 6px;
}

.widjet__row:hover .widjet__row-help-item:before {
  color: rgba(0, 0, 0, 0.44);
}

.widjet__row .widjet__row-help-item:hover:before,
.widjet__row .widjet__row-help-item_active:before {
  color: #066a87!important;
}

// .widjet__row .widjet__row-help-item_star:hover:before {
//   color: #ffa800;
// }

.widjet__row_isfavorite .widjet__row-help {
  right: 0px;
  width: 30px;
}

.widjet_with-scroll {
  overflow-y: auto;
}

.widjet_no-background {
  background-color: transparent;
}

.widjet__element-title {
  background: #f3f4f5;
  padding: 0 30px 0 16px;
  line-height: 36px;
  font-size: 14px;
  height: 36px;
  color: #000000;
  font-weight: 700;
  position: relative;
  margin-bottom: 22px;
}

.widjet__element-arrow {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  right: 17px;
  top: 16px;
  border-top: 2px solid #1ca0c6;
  border-left: 2px solid #1ca0c6;
  transform: rotate(45deg);
  transition: all 0.2s linear;
  cursor: pointer;
}

.widjet__element {
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.widjet__element-row {
  width: 100%;
  padding: 0px 16px 0px;
  margin-bottom: 15px;
}

.widjet__element-checkbox {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}

.widjet__element-checkbox .checkbox__label,
.widjet__element-checkbox .radio__label {
  padding-left: 27px;
  margin-right: 24px;
  color: rgba(0,0,0,0.87);
  line-height: 20px;
  display: inline-block;
  width: 14em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widjet__element-checkbox .radio__label {
  min-width: 4em;
  overflow: visible;
  width: auto;
}

.widjet__element_notitle {
  padding-top: 15px;
}

.widjet__element-arrow_hide {
  transform: rotate(-135deg);
  margin-top: -4px;
  border-color: #bcbcbc;
}

.widjet__element_closed {
  height: 36px;
}

.widjet__element_closed .widjet__element-title {
  background: #ffffff;
}

.widjet__element-arrow:hover {
  border-color: #066a87;
}

.widjet__element-label,
h3.widjet__element-label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0,0,0,0.54);
}

h3.widjet__element-label {
  font-size: 14px;
}

.widjet__element-value {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
}

span.widjet__element-value,
a.widjet__element-value {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.widjet__element-row .text__table-column {
  width: 47%;
}

.widjet__element-row span {
  display: block;
  margin-right: 0;
}

.widjet__element-row span+span {
  display: inline;
}

.widjet__element-row .text__table+.text__table {
  margin-top: 20px;
}

.widjet__element-devider {
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
  height: 1px;
  margin-bottom: 15px;
}

.widjet__element-subtitle {
  position: relative;
  color: #0f9bc3;
  font-size: 12px;
  display: inline-block;
  padding-right: 40px;
  line-height: 36px;
  margin-top: -9px;
  margin-bottom: 10px;
}

.widjet__element-row_accordion {
  overflow: hidden;
}

.widjet__element-row .widjet__element-row {
  padding-right: 0;
  padding-left: 0;
}


.widjet__element-row .input__body {
    flex-flow: wrap;
}

.widjet__reset-all-filters {
  font-size: 14px;
  font-family: "Roboto";
  color: #8c8c8c;
  line-height: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 16px;
  pointer-events: none;
}

.widjet__reset-all-filters_active {
  color: #0b85a8;
  pointer-events: auto;
}

.widjet__reset-all-filters .input__clear {
  display: none;
  position: relative;
  top: 5px;
  right: auto;
}
.widjet__reset-all-filters_active .input__clear {
  display: inline-block;
}
.widjet__reset-all-filters_active .input__clear:before,
.widjet__reset-all-filters_active .input__clear:after, {
  background: #0b85a8;
}

.widjet__reset-all-filters_active:hover {
  text-decoration: underline;
}
