@import '../common/variables.styl';

.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  min-width: 1280px;
}

.wrapper_background {
  overflow-y: auto;
  background-image: url(../images/main_background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
