@import '../common/variables.styl';

.preloader {
  width: 30px;
  height: 30px;
  background: red;
  margin-top: -5px;
  background-image: url("../images/throbber_seq_full.gif");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
  display: none;
}

.h-ta-left {
  text-align: left!important;
}

.h-ta-center {
  text-align: center!important;
}

.h-ta-right {
  text-align: right!important;
}

.h-dark-grey {
  background-color: #c4c7c7!important;
  color: #3b3e3e!important;
}

.h-medium-grey {
  background-color: #cfd3d3!important;
  color: #4f5151!important;
}


.js-input-remove-field {
	visibility: hidden;
}



.js-beauty-arrow {
	color: #000000;
}

.js-beauty-arrow * {
	vertical-align: top;
}

.js-beauty-arrow .limiter {
	display: inline-block;
	white-space: nowrap;
	max-width: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #757575;
	font-weight: normal;
}	




.table_search-results th {
	border-left: 1px solid #e6e7e7;
	border-bottom: 1px solid #e6e7e7;
	padding: 0 0.5em;
}

.table_search-results th:first-child {
	border-left: none;
}

.table_search-results tr:nth-child( 3 ) th {
	border-bottom: none;
}

.table_search-results .total td {
	font-weight: bold;
}

.table_search-results td:first-child {
	text-align: left;
}

.table_search-results tr:last-child td {
	border-bottom: none;
}